<div>
<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="unavailable"><a href="#">Proyectos</a></li>
	  <li class="current"><a href="#">App libre</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>App libre</h1>
			<h3 class="subheader">“¿Tienes una idea y puede encajar?”</h3>
			<img src="/img/applibre-seccion.jpg" alt="Autor: Flickr / Cbeck527">
			<p>Os dejamos un par de ideas por si sirven de inspiración:
			</p>
			<p><strong>HONDURAS:</strong> Estamos formulando un proyecto en Honduras con la contraparte “Centro de Derechos de la Mujer”. Honduras es un país con una tasa altísima de embarazos adolescentes, y también de embarazos en niñas (hablamos de edades alrededor de 9 – 10 años) y se quiere trabajar con temas de sensibilización especialmente con la población más joven, por eso se plantea que en el marco de las acciones de sensibilización con jóvenes se desarrolle una aplicación para smartphones, aprovechando que Honduras tiene de las tasas más altas de gente con teléfonos móviles de el mundo en desarrollo, por su proximidad con los EEUU.
			</p>
			<p><strong>REP. DOMINICANA:</strong> Junto con el PNUD (Programa de las Naciones Unidas para el Desarrollo) estamos trabajando en un proyecto de fortalecimiento de las capacidades locales para la respuesta y gestión del riesgo en la Provincia de Puerto Plata (Rep. Dominicana). Se trata de reforzar el enlace de coordinación entre instancias nacionales y ayuntamientos para mejorar la respuesta a desastres. Algunos componentes relevantes del proyecto son la elaboración planes de emergencia y contingencia a nivel local, compra y formación sobre equipos de comunicación (estaciones de radio), establecimiento de comités de prevención y mitigación de desastres, mejorar los flujos de información-comunicación a la ciudadanía y la evaluación de la resistencia sísmica de infraestructuras básica (escuelas, albergues, edificios gubernamentales, etc.)
</p>
		</div>
	</div>
</div>
<div formulario-inscripcion></div>
<div paginas-footer></div>
</div>