<div>
<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="current"><a href="#">Apps4health</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Apps4health</h1>
			<h3 class="subheader">La tecnología móvil al servicio de la salud</h3>
			<img src="/img/apps.jpg" alt="Apps4health">
		<p><strong>Apps4Health</strong> es un hackathon social organizado por Anesvad donde se une tecnología móvil y
salud.
		</p>
			<p><strong>Anesvad</strong> somos una ONG para el Desarrollo con más de 40 años de experiencia que trabajamos para promover y proteger el Derecho a la salud, como Derecho Humano
			Fundamental de las personas más vulnerables del planeta.</p>

			<p><strong>Apps4Health</strong> constituye un foro único de colaboración donde <a href="http://www.anesvad.org/es/" target="_blank">Anesvad</a> quiere lanzar unos
retos relacionados con problemas reales de nuestros proyectos de desarrollo en los que los 
desarrolladores puedan resolverlos.</p>

			<p>El resultado esperado serán prototipos de aplicaciones móviles de salud que se puedan

implementar para crear un impacto real en estos proyectos.</p>
<p>En esta primera edición colaboran <a href="http://tapquo.com/" target="_blank">Tapquo</a>, <a href="http://interzonas.info/" target="_blank">Interzonas</a>, <a href="http://espacioopen.com/" target="_blank">Espacio Open</a>, <a href="http://hirikilabs.tabakalera.eu/" target="_blank">Hirikilabs</a> y 
	<a href="http://madrid.theappdate.com/" target="_blank">The App Date</a></p>
<h4>Cronograma del hackathon </h4>
<img src="/img/cronograma.png" alt="Cronograma Apps4health">

<div id="como-llegar">
<h4>Como llegar </h4>
<img src="/img/como.jpg" alt="Como llegar">
<p>Espacio Open. Antigua Fábrica de Artiach. Zorrozaurre, Bilbao</p>
<a href="/img/comollegar.jpg" download="/img/comollegar.jpg">Descargar Mapa</a> , 
<a href="https://www.google.es/maps?q=ESPACIO+OPEN,+Antigua+f%C3%A1brica+galletas+Artiach,+Bilbao&ie=UTF8&sll=43.26964561560066,-2.9618610000000096&sspn=0.009264500461159581,0.018999661292942793&t=m&hq=ESPACIO+OPEN,+Antigua+f%C3%A1brica+galletas+Artiach,&hnear=Bilbao,+Vizcaya,+Pa%C3%ADs+Vasco&z=13" target="_blank">Situación en Google Maps</a>

</div>

		</div>
	</div>
</div>
<div paginas-footer></div>
</div>
