<div id="seccion-interior" class="bime-que">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>inicio</a></li>
			  <li class="current"><a href="#" translate>bime.breadcrumb</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>bime.titulo</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<img src="/img/bimecartel.jpg" alt="Bime">
					<div class="pro-w">
						<div class="large-6 columns over">
							<div class="mutavault">
								<img src="/img/trans.png" alt="pro">
							</div>
						</div>
						<div class="large-6 columns over">
							<div class="texto-bime-wrapper">
								<p class="texto-bime" translate>
									bime.pro
								</p>
							</div>

						</div>
					</div>
					<div class="live-w">
						<div class="large-6 columns over">
							<div class="mutavault">
								<img src="/img/trans.png" alt="pro">
							</div>
						</div>
						<div class="large-6 columns over">
							<div class="texto-bime-wrapper">
								<p class="texto-bime" translate>bime.live</p>
							</div>

						</div>
					</div>
			<div class="market-w">
						<div class="large-6 columns over">
							<div class="mutavault">
								<img src="/img/trans.png" alt="pro">
							</div>
						</div>
						<div class="large-6 columns over">
							<div class="texto-bime-wrapper">
								<p class="texto-bime" translate>
									bime.market
								</p>
							</div>

						</div>
					</div>
				<div class="city-w">
						<div class="large-6 columns over">
							<div class="mutavault">
								<img src="/img/trans.png" alt="pro">
							</div>
						</div>
						<div class="large-6 columns over">
							<div class="texto-bime-wrapper">
								<p class="texto-bime" translate> 
									bime.city
								</p>
							</div>

						</div>
					</div>
							

				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>
