<div id="seccion-interior" class="bime-que">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">¿Qué es Bime?</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">¿Qué es Bime?</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<img src="/img/bime.jpg" alt="Bime">
					<h3>Pro</h3>
					<p>El objetivo es el desarrollo comercial, el intercambio de conocimientos y experiencias, la creación de negocio y la formación e innovación en el sector de la música.
					BIME quiere proporcionar un espacio de encuentro donde los profesionales de la música y de otras industrias puedan intercambiar y crear nuevas vías de negocio.
					<strong>BIME</strong> quiere ser un espacio de reflexión sobre las temáticas más actuales inherentes a la industria de la música, pero se privilegiaran también las temáticas transversales, haciendo participe a profesionales del mundo de las nuevas tecnologías, de la moda y de los videojuegos.
					</p>
					<h3>Live</h3>
					<p><strong>BIME</strong> acogerá a los artistas más importantes y relevantes de la actualidad musical, así como a las futuras promesas de la escena local e internacional, convirtiéndole en uno de los mayores festivales de invierno en Europa. Muchas de estas bandas vendrán a presentar sus nuevos lanzamientos discográficos, y algunas de ellas actuaran en fecha exclusiva en el estado español. El público acudirá de todos los rincones del estado español y de varios países europeos.</p>
					<h3>Market</h3>
					<p><strong>BIME MARKET</strong> es el lugar expositivo donde el público que asistirá a los conciertos del <strong>BIME LIVE</strong> podrá estar en contacto con las principales empresas de la Industria Musical. Donde las discográficas, los festivales, las plataformas digitales, las redes sociales, los centros de formación darán a conocer sus actividades, sus ultimas novedades o vender sus productos.Será también un marco idóneo para todos los profesionales que quieran acercarse a estas empresas y concretar negocios. Dispondrá de un escenario donde los expositores podrán realizar presentaciones concretas y relevantes, donde los artistas podrán estar respondiendo a entrevistas o firmando discos.
					</p>
					<h3>City</h3>
					<p>Bizkaia y la ciudad de Bilbao gozan todo el año de una gran agenda cultural; Y, durante el mes de Noviembre, se realizaran actividades de gran relevancia estatal e internacional. BIME ha llegado a acuerdos con estos eventos para una promoción mutua y el desarrollo de acciones de colaboración. El objetivo es favorecer los intercambios entre profesionales y facilitar el descubrimiento de la riqueza cultural de Bizkaia.</p>
			
				</div>
			</div>
		</div>
</div>