<div id="header">
<div class="row">
	<div class="large-12 columns idiomas">
		<span class="es"><a href ng-click="changeLanguage('es')">es</a></span> - <span class="eu"><a href ng-click="changeLanguage('eu')">eu</a></span>
	</div>
<!-- 	<div class="large-12 columns banner1">
		<img src="{{img_translate}}">
	</div> -->
  <div class="large-4 columns">
    <a target="_blank" href="http://bime.net"><img src="/img/bime-h.png" alt="Bime"></a>
  </div>
  <div class="large-4 columns">
      <a href="#/"><img src="/img/hack-h.png" alt="Bime Hack a Day"></a>
  </div>
  <div class="large-4 columns">
      <img src="/img/fecha.png" alt="Bime">
  </div>
</div>
</div>
<div id="menu-bime">


<div class="row">


<nav style="" class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
          <li class=""><a href="#/" translate>MENU.INICIO</a></li>
          <li class=""><a href="#/que-es" translate >MENU.QUE_ES</a></li>
          <li class=""><a href="#/bime" translate >MENU.BIME</a></li>
          <li class=""><a href="#/horarios" translate >MENU.HORARIOS</a></li>
          <li class=""><a href="#/hackx24" translate >MENU.HACK</a></li>
          <li class=""><a href="#/conferencias" translate >MENU.CONFERENCIAS</a></li>
          <li class=""><a href="#/premios" translate >MENU.PREMIOS</a></li>
          <li class=""><a href="#/comunidad" translate >MENU.COMUNIDAD</a></li>
          <li class=""><a href="#/info" translate >MENU.INFO</a></li>
    </ul>

    <!-- Right Nav Section -->

  </section>
</nav>

</div>

</div>


