<div id="seccion-interior" class="charlas">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Charlas y workshops </a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Charlas y workshops</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>El evento tendrá una duración de 24 horas, que se distribuirán de la siguiente manera:
					</p>
					<h4>Día 20</h4>
					<p>10:00<p><h5>Estos son tus derechos: CopyLeft </h5> <h6>Xavi Balderas</h6>

				</div>
			</div>
		</div>
</div>