<div id="seccion-interior" class="charlas">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Charlas y </a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Premios</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>El evento tendrá una duración de 24 horas, que se distribuirán de la siguiente manera:
					</p>
					<h4>Día 20</h4>
					<p>Charlas (45 mins)  (estimadas, sin confirmar)</p>				
					<h4>Miércoles 20</h4>
					<p>16.00 h -Enrique Hurtado (nueva historia de la música y el arte)
</p>
					<p>-Videoconferencia // Arturo Castro (Open frameworks, Google glasses)</p>
					<p> <strong>Workshops (2 horas)  (estimadas, sin confirmar)</strong>
</p>
					<p>-Tuni (Taller de música artesanal)
					<p>-Diego Casado (Arduino y Música)</p>
					<p>-Ivan Blasco Bilbaomakers (Impresión 3D)</p>
					<p>-Txo de Teknotrakitana (Video mapping)</p></p>
<h4>DIA 21</h4>
<p><strong>Charlas (45 mins) </strong></p>

<p>10.00 h-Drones for live shows recording (Iker, Juguetrónica)</p>

<p>-Alex Posada</p>

<p><strong>Workshops</strong></p>

<p>-Lafa crea MIT Bermeo (Fresadora CNC)</p>

<p>-(Cretive Commons)</p>

<p>-Javier Carvalho dj (Nuevas Técnicas DJ)</p>
				</div>
			</div>
		</div>
</div>