<div id="seccion-interior" class="comunidad">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Comunidad</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Comunidad</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>Texto explicación comunidad</p>
			<div class="large-6 columns">
		      <h4>Google+</h4>
		     <div class="g-community" data-width="400" data-href="https://plus.google.com/u/0/communities/109298840413394468777"></div>
		     <script type="text/javascript">
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
   			 </div>
       		 <div class="large-6 columns">
     			 <h4>Twitter</h4>
			<a class="twitter-timeline" width="400" height="552" href="https://twitter.com/search?q=%23bimehday" data-widget-id="364322592049491968">Tweets sobre "#bimehday"</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    		</div>

				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>
