<div id="seccion-interior" class="comunidad">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Comunidad</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Comunidad</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>Texto explicación comunidad</p>
			<div class="large-6 columns">
		      <h4>Google+</h4>
		      <div class="g-community" data-width="400" data-href="https://plus.google.com/u/0/communities/106253011105482847230"></div>
   			 </div>
       		 <div class="large-6 columns">
     			 <h4>Twitter</h4>
			<a class="twitter-timeline" width="400" height="552" href="https://twitter.com/search?q=%23hackbimeday" data-widget-id="364322592049491968">Tweets sobre "#hackbimeday"</a>
    		</div>

				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
