<div id="seccion-interior" class="comunidad">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>inicio</a></li>
			  <li class="current"><a href="#" transalte>condiciones.breadcrumb</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>condiciones.titulo</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<h4 translate>condiciones.subtitulo</h4>
					<p translate>condiciones.p1</p>
					<p translate>condiciones.p2</p>
					<p translate>condiciones.p3</p>
					<p translate>condiciones.p4</p>
					<p translate>condiciones.p5</p>
					<p translate>condiciones.p6</p>
					<p translate>condiciones.p7</p>
					<p translate>condiciones.p8</p>
					<p translate>condiciones.p9</p>
					<p translate>condiciones.p10</p>
					<p translate>condiciones.p11</p>
					<p><strong></strong><br></p>
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>
