<div id="seccion-interior" class="comunidad">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Condiciones de participación</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Condiciones de participación</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>Texto condiciones</p>
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
