<div id="seccion-interior" class="charlas">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Charlas y workshops </a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Charlas y workshops</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>El evento tendrá una duración de 24 horas, que se distribuirán de la siguiente manera:
					</p>
					<h4>Día 20</h4>
					<div class="conference-item">
						<span>10:00</span><h5><a href="#copyleft">Estos son tus derechos: CopyLeft </a></h5> <span class="c-bio">Xavi Balderas</span>
					</div>
					<div class="conference-item">
						<span>12:00</span><h5><a href="/#">Estos son tus derechos: CopyLeft </a></h5> <span class="c-bio">Xavi Balderas</span>
					</div>
					<div class="conference-item">
						<span>13:00</span><h5><a href="/#">Estos son tus derechos: CopyLeft </a></h5> <span class="c-bio">Xavi Balderas</span>
					</div>
					<h4>Día 21</h4>
					<div class="conference-item">
						<span>13:00</span><h5><a href="/#">Estos son tus derechos: CopyLeft </a></h5> <span class="c-bio">Xavi Balderas</span>
					</div>
					<div class="conference-item">
						<span>14:00</span><h5><a href="/#">Estos son tus derechos: CopyLeft </a></h5> <span class="c-bio">Xavi Balderas</span>
					</div>
					<div class="conference-item">
						<span>16:00</span><h5><a href="/#">Estos son tus derechos: CopyLeft </a></h5> <span class="c-bio">Xavi Balderas</span>
					</div>

				</div>
	
<div id="conferencias-seccion">
	<div class="row">
				<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 20</span>
							<span class="hora">10:00</span>
						</div>
						<h5 id="copyleft" class="conferencia-title">Estos son tus derechos: CopyLeft  </h5>
						<p class="conferencia-texto">Qué hay detrás del Creative Commons? Qué tipos de licencias utiliza la música libre? Conferencia debate alrededor de las cuestiones relacionadas a la creación musical y derechos de autor.
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/xavi.png" alt="xavi">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Xavi Balderas es miembro de AUDIOLAB, una asociación cultural dedicada a la investigación sonora. Basado en la experiencia acumulada durante años gracias a proyectos desarrollados por varios miembros de la asociación, tales como la organización del festival de Otras músicas ERTZ, el laboratorio sonoro del centro de arte contemporáneo ARTELEKU, proyectos editoriales (SERIES NEGRAS, NOISE & CAPITALISM),, organización de exposiciones (TABAKALERA SUENA, ENTZUNGOR, ZOOO), de investigación ([UN]COMMON SOUNDS, RONA MAUBERE, OPEN SOUND) esta asociación pretende crear una plataforma abierta y colaborativa para fomentar la cultura sonora en la sociedad actual.
							</p>
						</div>

					</div>

				<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 20</span>
							<span class="hora">10:00</span>
						</div>

						<h5 class="conferencia-title">Estos son tus derechos: CopyLeft  </h5>
						<p class="conferencia-texto">Qué hay detrás del Creative Commons? Qué tipos de licencias utiliza la música libre? Conferencia debate alrededor de las cuestiones relacionadas a la creación musical y derechos de autor.
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/xavi.png" alt="xavi">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Xavi Balderas es miembro de AUDIOLAB, una asociación cultural dedicada a la investigación sonora. Basado en la experiencia acumulada durante años gracias a proyectos desarrollados por varios miembros de la asociación, tales como la organización del festival de Otras músicas ERTZ, el laboratorio sonoro del centro de arte contemporáneo ARTELEKU, proyectos editoriales (SERIES NEGRAS, NOISE & CAPITALISM),, organización de exposiciones (TABAKALERA SUENA, ENTZUNGOR, ZOOO), de investigación ([UN]COMMON SOUNDS, RONA MAUBERE, OPEN SOUND) esta asociación pretende crear una plataforma abierta y colaborativa para fomentar la cultura sonora en la sociedad actual.
							</p>
						</div>

					</div>





		</div>
	</div>


			</div>
		</div>
</div>
<div footer-inscribir></div>


<!-- <div class="large-12">
	<h5 class="conferencia-title">Estos son tus derechos: CopyLeft  </h5>
	<p class="conferencia-texto">Qué hay detrás del Creative Commons? Qué tipos de licencias utiliza la música libre? Conferencia debate alrededor de las cuestiones relacionadas a la creación musical y derechos de autor.
	</p>
	<div class="large-4">
		<img src="/img/xavi.png" alt="xavi">
	</div>
	<div class="large-8">
		<p>Bio</p>
		<p class="conferencia-bio">Xavi Balderas es miembro de AUDIOLAB, una asociación cultural dedicada a la investigación sonora. Basado en la experiencia acumulada durante años gracias a proyectos desarrollados por varios miembros de la asociación, tales como la organización del festival de Otras músicas ERTZ, el laboratorio sonoro del centro de arte contemporáneo ARTELEKU, proyectos editoriales (SERIES NEGRAS, NOISE & CAPITALISM),, organización de exposiciones (TABAKALERA SUENA, ENTZUNGOR, ZOOO), de investigación ([UN]COMMON SOUNDS, RONA MAUBERE, OPEN SOUND) esta asociación pretende crear una plataforma abierta y colaborativa para fomentar la cultura sonora en la sociedad actual.
		</p>
	</div>

</div> -->