<div id="seccion-interior" class="charlas">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>inicio</a></li>
			  <li class="current"><a href="#" translate>conferenciasSeccion.breadcrumb </a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>conferenciasSeccion.titulo</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p translate>conferenciasSeccion.texto</p>
					<div class="large-6 columns">
						<h4 translate>conferenciasSeccion.dia20</h4>
					<div class="conference-item">
						<span>16:00</span><h5><a href="/#/conferencias#copyleft" translate>conferenciasSeccion.copyleft</a></h5> <span class="c-bio">Charla / Xavi Balderas</span>
					</div>

					<div class="conference-item">
						<span>17:00</span><h5><a href="/#/conferencias#gracias" translate>conferenciasSeccion.gracias </a></h5> <span class="c-bio">Workshops / Mikel R. Nieto</span>
					</div>
					<div class="conference-item">
						<span>19:00</span><h5><a href="/#/conferencias#experimental" translate>conferenciasSeccion.experimental</a></h5> <span class="c-bio">Charla / Fernando Carvalho</span>
					</div>
					<div class="conference-item">
						<span>20:00</span><h5><a href="/#/conferencias#opensource" translate>conferenciasSeccion.opensource</a></h5> <span class="c-bio">Workshop / Luca Rullo</span>
					</div>
					</div>
					<div class="large-6 columns">
						<h4 translate>conferenciasSeccion.dia21</h4>
					<div class="conference-item">
						<span>10:00</span><h5><a href="/#/conferencias#instrumentos" translate>conferenciasSeccion.instrumentos</a></h5> <span class="c-bio">Charla / Jonathan García Lana (TUNIPANEA)</span>
					</div>
					<div class="conference-item">
						<span>11:00</span><h5><a href="/#/conferencias#3d" translate>conferenciasSeccion.3d</a></h5> <span class="c-bio">Conferencia / Interactividad y generatividad en arte y música </span>
					</div>
					<div class="conference-item">
						<span>13:00</span><h5><a href="/#/conferencias#generatividad" translate>conferenciasSeccion.generatividad</a></h5> <span class="c-bio">Workshop / Enrique Hurtado</span>
					</div>
					<div class="conference-item">
						<span>14:00</span><h5><a href="/#/conferencias#arduino" translate>conferenciasSeccion.arduino</a></h5> <span class="c-bio">Workshop / Diego Casado Mansilla</span>
					</div>
					<div class="conference-item">
						<span>16:00</span><h5><a href="/#/conferencias#flow" translate>conferenciasSeccion.flow</a></h5> <span class="c-bio">Charla / Karlos g Liberal</span>
					</div>
					</div>
				</div>
		<div id="conferencias-seccion">
			<div class="row">
					<a name="copyleft"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia20</span>
							<span class="hora">16:00</span>
						</div>
						<h5 id="copylefts" class="conferencia-title" translate>conferenciasSeccion.copyleft_titulo </h5>
						<p class="conferencia-texto" translate>conferenciasSeccion.copyleft_texto</p>
						<div class="large-4 columns img-bio">
							<img src="/img/xavi.png" alt="xavi">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate>conferenciasSeccion.copyleft_bio</p>
						</div>
					</div>
					<a name="gracias"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia20</span>
							<span class="hora">17:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.gracias_titulo</h5>
						<p class="conferencia-texto" translate>conferenciasSeccion.gracias_texto</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-mikel.jpg" alt="Mikel R. Nieto">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate>conferenciasSeccion.gracias_bio</p>
						</div>
					</div>
					<a name="experimental"></a>
					<div class="large-12 columns conferencia-item" name="">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia20</span>
							<span class="hora">19:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.experimental_titulo</h5>
						<p class="conferencia-texto" translate> conferenciasSeccion.experimental_texto</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-fer.jpg" alt="Fernando">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate>conferenciasSeccion.experimental_bio</p>
						</div>
					</div>
					<a name="opensource"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia20</span>
							<span class="hora">20:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.opensource_titulo</h5>
						<p class="conferencia-texto" translate>conferenciasSeccion.opensource_texto
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-free.jpg" alt="Open Source">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate>conferenciasSeccion.opensource_bio
							</p>
						</div>
					</div>
					<a name="instrumentos"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia21</span>
							<span class="hora">10:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.instrumentos_titulo</h5>
						<p class="conferencia-texto" translate> conferenciasSeccion.instrumentos_texto</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-arduino.jpg" alt="Inventos">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate> conferenciasSeccion.instrumentos_bio</p>
						</div>
					</div>
					<a name="3d"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia21</span>
							<span class="hora">11:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.d3_titulo </h5>
						<p class="conferencia-texto" translate>conferenciasSeccion.d3_texto
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-ivan.jpg" alt="Ivan Blasco">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate>conferenciasSeccion.d3_bio</p>
						</div>
					</div>
					<a name="generatividad"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia21</span>
							<span class="hora">13:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.generatividad_titulo</h5>
						<p class="conferencia-texto" translate>conferenciasSeccion.generatividad_texto
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-enrike.jpg" alt="Enrique Hurtado">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate>conferenciasSeccion.generatividad_bio
							</p>
						</div>
					</div>
					<a name="arduino"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia21</span>
							<span class="hora">14:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.arduino_titulo</h5>
						<p class="conferencia-texto" translate>conferenciasSeccion.arduino_texto
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-diego.jpg" alt="Diego">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate> conferenciasSeccion.arduino_bio</p>
						</div>
					</div>
					<a name="flow"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia" translate>conferenciasSeccion.dia21</span>
							<span class="hora">16:00</span>
						</div>
						<h5 class="conferencia-title" translate>conferenciasSeccion.flow_titulo</h5>
						<p class="conferencia-texto" translate>conferenciasSeccion.flow_texto</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-karlos.jpg" alt="Karlos">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio" translate>conferenciasSeccion.flow_bio </p>
						</div>
					</div>
					</div>
			</div>
		</div>
	</div>
<!-- </div> -->
</div>
<div footer-inscribir></div>
<div footer-partner></div>

