<div id="seccion-interior" class="charlas">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Conferenciasy workshops </a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Conferencias y workshops</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>Durante BIME Hack Day se celebrarán conferencias y workshops repartidas durante los dos días de la siguiente manera:
					</p>
					
					
					<div class="large-6 columns">
						<h4>Día 20</h4>
					<div class="conference-item">
						<span>16:00</span><h5><a href="/#/conferencias#copyleft">Estos son tus derechos: CopyLeft </a></h5> <span class="c-bio">Charla / Xavi Balderas</span>
					</div>

					<div class="conference-item">
						<span>17:00</span><h5><a href="/#/conferencias#gracias">Gracias por su Netlabel  </a></h5> <span class="c-bio">Workshops / Mikel R. Nieto</span>
					</div>

					<div class="conference-item">
						<span>19:00</span><h5><a href="/#/conferencias#experimental">Concepción de la música Experimental</a></h5> <span class="c-bio">Charla / Fernando Carvalho</span>
					</div>

					<div class="conference-item">
						<span>20:00</span><h5><a href="/#/conferencias#opensource">OpenSource Audio Tools</a></h5> <span class="c-bio">Workshop / Luca Rullo</span>
					</div>
					</div>
					<div class="large-6 columns">
						<h4>Día 21</h4>

					<div class="conference-item">
						<span>10:00</span><h5><a href="/#/conferencias#instrumentos">Inventos que se convierten en instrumentos</a></h5> <span class="c-bio">Charla / Jonathan García Lana (TUNIPANEA)</span>
					</div>

					<div class="conference-item">
						<span>11:00</span><h5><a href="/#/conferencias#3d">Impresión 3D; Softs y Hards</a></h5> <span class="c-bio">Conferencia / Interactividad y generatividad en arte y música </span>
					</div>

					<div class="conference-item">
						<span>13:00</span><h5><a href="/#/conferencias#generatividad">Interactividad y generatividad en Arte y Música</a></h5> <span class="c-bio">Workshop / Enrique Hurtado</span>
					</div>

					<div class="conference-item">
						<span>14:00</span><h5><a href="/#/conferencias#arduino">Arduino como instrumento DIY</a></h5> <span class="c-bio">Workshop / Diego Casado Mansilla</span>
					</div>

					<div class="conference-item">
						<span>16:00</span><h5><a href="/#/conferencias#flow">Flow based programming, el nuevo hype</a></h5> <span class="c-bio">Charla / Karlos g Liberal</span>
					</div>
					</div>

				</div>
	
		<div id="conferencias-seccion">
			<div class="row">
					<a name="copyleft"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 20</span>
							<span class="hora">16:00</span>
						</div>
						<h5 id="copylefts" class="conferencia-title">Estos son tus derechos: CopyLeft  </h5>
						<p class="conferencia-texto">Qué hay detrás del Creative Commons? Qué tipos de licencias utiliza la música libre? Conferencia debate alrededor de las cuestiones relacionadas a la creación musical y derechos de autor.
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/xavi.png" alt="xavi">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Xavi Balderas es miembro de AUDIOLAB, una asociación cultural dedicada a la investigación sonora. Basado en la experiencia acumulada durante años gracias a proyectos desarrollados por varios miembros de la asociación, tales como la organización del festival de Otras músicas ERTZ, el laboratorio sonoro del centro de arte contemporáneo ARTELEKU, proyectos editoriales (SERIES NEGRAS, NOISE & CAPITALISM), organización de exposiciones (TABAKALERA SUENA, ENTZUNGOR, ZOOO), de investigación ([UN]COMMON SOUNDS, RONA MAUBERE, OPEN SOUND) esta asociación pretende crear una plataforma abierta y colaborativa para fomentar la cultura sonora en la sociedad actual.
							</p>
						</div>
					</div>

					<a name="gracias"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 20</span>
							<span class="hora">17:00</span>
						</div>

						<h5 class="conferencia-title">Gracias por su Netlabel </h5>
						<p class="conferencia-texto">Ética y contemporaneidad  de los Netlabels... Sello propio, el sentido de hacértelo tú mismo. ¿Qué está pasando con los netlabels? ¿Qué queda de lo que fue un auténtico fenómeno hace unos años? En dos horas prácticas debatiremos y se plantearán todas estas cuestiones además de aprender en sencillos pasos cómo construir el tuyo propio.
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-mikel.jpg" alt="Mikel R. Nieto">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Mikel R. Nieto: Nacido en Donostia - San Sebastián. Ha estudiado Arte en San Sebastián, Madrid y Barcelona. Desde hace años está inmerso en la práctica fonográfica y en la teoría que se desprende de ella. Ha impartido talleres en distintos centros culturales y universidades. Es parte del equipo del mapa sonoro del País Vasco, coordinador de Hots! Radio y co-editor en la plataforma ./mediateletipos. http://mikelrnieto.net/ + http://www.soinumapa.net/+ http://www.hots-radio.info/ + http://www.mediateletipos.net/
							</p>
						</div>
					</div>

					<a name="experimental"></a>
					<div class="large-12 columns conferencia-item" name="">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 20</span>
							<span class="hora">19:00</span>
						</div>

						<h5 class="conferencia-title">Concepción de la música Experimental</h5>
						<p class="conferencia-texto">Qué inspira a un músico experimental? Qué técnicas utiliza a la hora de crear sus composiciones?
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-fer.jpg" alt="Fernando">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Fernando Carvalho nació en Lisboa, 1976.
								Actualmente reside en Bilbao
								Empezó a interesarse por la música electrónica a finales de los años 90. En ella encuentra una forma de expresión que le permite acercarse a la música como siempre había deseado. Al principio su trabajo es experimental y de búsqueda, y más adelante se orienta hacia estilos más populares ligados a la música de baile, pero sin dejar de tener un pie en su pasado indagador. Actualmente ha vuelto a su faceta experimental y esta volcando su interés y esfuerzos en el diseño de sonido y la manipulación de grabaciones de campo.
							</p>
						</div>
					</div>

					<a name="opensource"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 20</span>
							<span class="hora">20:00</span>
						</div>

						<h5 class="conferencia-title">OpenSource Audio Tools</h5>
						<p class="conferencia-texto">Workshop práctico en el que se repasarán las tecnologías  para componer y trabajar Audio desde un enfoque abierto, opensource. 
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-free.jpg" alt="Open Source">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Luca Rullo -- Experto en Software y hardware Libre, Experimentador del sonido y trabajador de la escucha.  Trabaja con herramientas GNU así como con su propio hardware como micros DIY
							</p>
						</div>
					</div>

					<a name="instrumentos"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 21</span>
							<span class="hora">10:00</span>
						</div>

						<h5 class="conferencia-title">Inventos que se convierten en instrumentos</h5>
						<p class="conferencia-texto">A través de sus creaciones TuniPanea nos hará viajar con sus sonidos y los instrumentos salidos de una de las mentes más creativas de la escena underground.
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-arduino.jpg" alt="Inventos">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Jonathan García Lana, también conocido como TUNIPANEA. Bélgica-Navarra-Bilbao, es Artista visual, músico y luthier 2.0. Ahora trabaja sobre todo en torno a la experimentación sonora, diseñando, construyendo e interpretando sus propios artefactos hechos a partir de desechos y electrónica. Sus proyectos recientes que experimentan con la ropa electrónica, la proyección monumental y los jardines sonoros pueden consultarse en su website.
							</p>
						</div>
					</div>

					<a name="3d"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 21</span>
							<span class="hora">11:00</span>
						</div>

						<h5 class="conferencia-title">Impresión 3D ; Softs y Hards</h5>
						<p class="conferencia-texto">La gran revolución tecnológica de los últimos años es sin duda la fabricación digital. En este workshop repasaremos el software necesario para diseñar y modelar figuras en 3D e imprimirlos con la impresora 3D. Ya hemos visto los primeros vinilos imprimidos en casa!! A tí, qué se te ocurre?
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-ivan.jpg" alt="Ivan Blasco">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Ivan Blasco Bilbaomakers http://blog.bilbaomakers.org/ Uno de los principales expertos do it yourself en impresión 3D en el País Vasco, tanto en montaje como en calibración. Coordinador de uno de talleres de impresión 3D en Summerlabs. Diez años de experiencia como oficial de máquinas de control numérico. (Bilbao Makers)
							</p>
						</div>
					</div>

					<a name="generatividad"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 21</span>
							<span class="hora">13:00</span>
						</div>

						<h5 class="conferencia-title">Interactividad y generatividad en arte y música</h5>
						<p class="conferencia-texto">Un recorrido a través de las obras que hibridan Música, Arte Sonoro y Experimentación tecnológica. La  vinculación de estos campos se tratará a partir de obras de artistas como John Cage, un antecedente al Arte NewMedia.
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-enrike.jpg" alt="Enrique Hurtado">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Enrique Hurtado (Arte Electrónico y Música Automática). Formado en BBAA es desarrollador y músico. Crea su propio software para realizar música dentro del colectivo ixi-audio.net. Actualmente compagina su actividad profesional con estudios de doctorado en la EHU/UPV
							</p>
						</div>
					</div>

					<a name="arduino"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 21</span>
							<span class="hora">14:00</span>
						</div>

						<h5 class="conferencia-title">Arduino como instrumento DIY</h5>
						<p class="conferencia-texto">En este workshop aprenderemos conceptos básicos de Arduino en especial aquellos temas más relacionados con la creación musical. Diego nos explicará el funcionamiento de la shield mp3 para la placa de Hardware Libre por excelencia y así mismo trataremos los pasos para construirnos nuestro propio instrumento electrónico.
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-diego.jpg" alt="Diego">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">
								Diego Casado Mansilla (@dieguich) es estudiante de doctorado en el grupo MORElab-Internet de la Universidad de Deusto. Su investigación versa sobre el uso de técnicas de motivación y persuasión hacia comportamientos pro-ambientales (energía, reciclaje, ruido) a través de la interacción con objetos cotidianos eco-sensibles (p.ej. cafeteras, impresoras, pantallas y electrodomésticos en general).
								Diego Casado hará en el taller una introducción a la plataforma Arduino y repasará algunas de las plataformas electrónicas que se han usado en el ámbito educativo. Por último se realizará una vista rápida sobre a las herramientas de programación visual para Arduino (Scratch, Amici, S4A, ModKit) y se presentará la Edushield (una shield OSHW diseñada en la Universidad de Deusto).

							</p>
						</div>
					</div>

					<a name="flow"></a>
					<div class="large-12 columns conferencia-item">
						<div class="conferencia-hora">
							<img src="/img/icon-horario.png" alt="horario"> 
							<span class="dia">Día 21</span>
							<span class="hora">16:00</span>
						</div>

						<h5 class="conferencia-title">Flow based programming, el nuevo hype</h5>
						<p class="conferencia-texto">La programación orientada a Flujos que nos podría valer como una mala traducción es algo que ha estado desde muchos años copando la escena del coding/art programas como: pure-data, max, vvvv son referencias (.....)
						</p>
						<div class="large-4 columns img-bio">
							<img src="/img/ch-karlos.jpg" alt="Karlos">
						</div>
						<div class="large-8 columns">
							<p class="conferencia-bio">Karlos g Liberal (Patxangas): Cyberpunk de espíritu, cree que en el código se puede encontrar la “belleza” Miembro del colectivo de experimentación electrónica Teknotrakitana y socio fundador de la cooperativa Investic y actualmente embarcado en Interzonas.info, lleva mas de 12 años de experiencia trabajando con tecnologías web, software libre y hardware abierto.
							</p>
						</div>
					</div>

					</div>
			</div>
		</div>
	</div>
<!-- </div> -->
</div>
<div footer-inscribir></div>
<div footer-partner></div>

