<div id="seccion-interior" class="que-es">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Donde y cuando</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Donde y cuando</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<img src="/img/t1.png" alt="Bime">
					<p><a parent="_blank" href="http://www.bilbaoexhibitioncentre.com">BEC</a> alojará <a parent="_blank" href="http://www.bime.net">BIME</a> durante la cuarta semana de Noviembre (19 a 23) ya que la cantidad de actividades que se realizarán durante este multitudinario encuentro hacen necesario grandes espacios bien equipados para garantizar el buen funcionamiento del evento y la satisfacción de todos sus asistentes.</p>
				</div>
			</div>
		</div>
</div>