<div>
<div id="proyecto-seccion" class="faq">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="current"><a href="#">Faq</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Faq</h1>
			<h3 class="subheader">Preguntas frecuentes</h3>
			<p class="pregunta"><strong>¿Cómo puedo participar? </strong></p>
			<p class="respuesta">Puedes inscribirte en cualquiera de los 4 proyectos que propone la ONGD Anesvad o si tienes ya una idea de App enfocada en Derecho a la salud inscribirte en la App libre.
			</p>
			<p class="pregunta"><strong>¿Cuál es el beneficio de esta iniciativa?</strong></p>
			<p class="respuesta">Se trata de un beneficio social, una oportunidad de utilizar la tecnología por un procomún global.
			</p>

			<p class="pregunta"><strong>¿Quiénes son lo beneficiarios finales? </strong></p>
			<p class="respuesta">Esta iniciativa va dirigida a todas aquellas personas que conviven en contextos en los que los Derechos a la salud son vulnerados o insuficientes y que necesitan un apoyo para mejorarlos.

			</p>
		</div>
	</div>
</div>
</div>
