<!-- <h1 id="S">{{ 'FOOTER' | translate }}</h1> -->
<div id="patrocinadores">
	<div class="row">
		<div class="largue-12 columns">
			<h1 class="patrocinadores" translate>PATROCINADORES.TITULO</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns">
            <!-- <ul class="large-block-grid-6 logos">
                <li><a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a></li>
                <li><a target="_blank" href="http://t/"><img alt="XXX" src="/img/logo-generico.png">
                 </a></li>
                 <li><a target="_blank" href="http://interzonas.info/"><img alt="Interzonas" src="/img/logo-generico.png"></a></li>
                 <li><a target="_blank" href="http://"><img alt="xxx" src="/img/logo-generico.png"></a></li>
                 <li><a target="_blank" href="http:/"><img alt="XXX" src="/img/logo-generico.png"></a></li>
                 <li><a target="_blank" href="http:/"><img alt="XXX" src="/img/logo-generico.png"></a></li>
            </ul>
          </div>
          <div class="large-12 columns">
            <ul class="large-block-grid-6 logos">
              	<li><a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a></li>
               	<li><a target="_blank" href="http://t/"><img alt="XXX" src="/img/logo-generico.png">
               	</a></li>
                <li><a target="_blank" href="http://interzonas.info/"><img alt="Interzonas" src="/img/logo-generico.png"></a></li>
                <li><a target="_blank" href="http://"><img alt="xxx" src="/img/logo-generico.png"></a></li>
                <li><a target="_blank" href="http:/"><img alt="XXX" src="/img/logo-generico.png"></a></li>
                <li><a target="_blank" href="http:/"><img alt="XXX" src="/img/logo-generico.png"></a></li>
            </ul> -->
              <h4>Mobile Apps</h4>
              <a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a>
               <a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a>
        
          </div>
            <div class="large-3 columns">
              <h4>Music APis</h4>
              <a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a>
               <a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a>

            </div>
            <div class="large-3 columns">
              <h4>Videogames</h4>
               <a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a>
            </div>
            <div class="large-3 columns">
              <h4>Cloud computing</h4>
               <a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a>
                <a target="_blank" href="http://m/"><img alt="XXXX" src="/img/logo-generico.png"></a>
            </div>
	</div>
</div>
<div id="footer">
	<div class="row">
		<div class="largue-12 columns">
			<h1 class="footer" translate>PIE.TITULO</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
		<ul class="redes">
          <li><a class="twitter" href="http://www.twitter.com/XX">
          	<img src="/img/twitter.png" alt="twitter"></a>
          </li>
          <li>
          	<a class="facebook" href="http://www.facebook.com/XX">
          	<img src="/img/gplus.png" alt="twitter"></a>
          	</a>
          </li>
          <li>
          	<a class="mail" href="http://zuXXXrb.com/Xt">
				<img src="/img/facebook.png" alt="twitter"></a>
          	</a>
          </li>
        </ul>


		</div>
</div>