<!-- <h1 id="S">{{ 'FOOTER' | translate }}</h1> -->
<div id="patrocinadores">
	<div class="row">
		<div class="largue-12 columns">
			<h2 class="patrocinadores" translate>Partners</h2>
		</div>
	</div>
  <div class="row">
            <div class="large-12 columns">
              <ul class="large-block-grid-4 logos">
                  <li><a target="_blank" href="https://www.google.com/"><img alt="Google" src="/img/pa-google.png"></a></li>
                  <li><a target="_blank" href="https://www.spotify.com/es/"><img alt="Spotify" src="/img/pa-spotify.png"></a></li>
                  <li><a target="_blank" href="http://aws.amazon.com/es/"><img alt="Amazon WS" src="/img/pa-amazon.png"></a></li>
                  <li><a target="_blank" href="http://www.deezer.com/es/"><img alt="Deezer" src="/img/pa-deezer.png"></a></li>
              </ul>
              <ul class="large-block-grid-4 logos">
                  
                  <li><a target="_blank" href="http://www.android.com/"><img alt="Android" src="/img/pa-android.png"></a></li>
                  <li><a target="_blank" href="http://es.napster.com/"><img alt="Napster" src="/img/pa-napster.png"></a></li>
                  <li><a target="_blank" href="http://www.redbullmusicacademy.com/"><img alt="Red bull" src="/img/pa-redbull.png"></a></li>
                  <li><a target="_blank" href="http://www.goear.com/"><img alt="Goear" src="/img/pa-goear.png"></a></li>
 
              </ul>
                <ul class="large-block-grid-4 logos">
                  <li><a target="_blank" href="http://www.cooking-hacks.com/"><img alt="Cooking hacks" src="/img/pa-cooking.png"></a></li>
                   <li><a target="_blank" href="https://soundcloud.com/"><img alt="Soundcloud" src="/img/pa-sound.png"></a></li>
                  
                  <li><a target="_blank" href="http://www.deliriumstudios.com/bienvenido.html"><img alt="Delirium" src="/img/pa-delirium.png"></a></li>
                  <li><a target="_blank" href="http://www.nvivo.es/"><img alt="Nvivo" src="/img/pa-nvivo.png"></a></li>                                                            
              </ul>
                  <ul class="large-block-grid-4 logos">
                   <li><a target="_blank" href="http://www.ludei.es/"><img alt="Ludei" src="/img/pa-ludei.png"></a></li>  
                   <li><a target="_blank" href="http://asoma.es/"><img alt="Asoma" src="/img/pa-asoma.png"></a></li>
                  <li><a target="_blank" href="http://mobandme.com"><img alt="Mob&me" src="/img/pa-mobme.png"></a></li>
                  <li><a target="_blank" href="http://gruposca.com"><img alt="Grupo sca" src="/img/pa-sca.png"></a></li>
                   <!-- <li><img alt="Bime" src="/img/pa-com.png"></li>     -->
                 
                                                                              
              </ul>
          </div>
    </div>
</div>
