<div id="sub-inscripcion">
	<div class="row">
		<div class="large12 columns">
			<h1 class="sub-footer" translate>inscribir.titulo </h1>
			<div class="inscripcion-wrapper">
				<h3 class="sub" translate>inscribir.subtitulo</h3>
				<p translate>inscribir.p1 </p>
				<p translate>inscribir.p2 </p>
				<p translate>inscribir.p3 </p>
				<p translate>inscribir.p4 </p>
				<h3 class="precio" translate>inscribir.h3</h3>
				<p class="condiciones"><a target="_blank" href="/#condiciones" translate>inscribir.condiciones</a></p>
				<div class="btn-ins rigth"><a target="_blank" href="https://entradas.lasttourinternational.com/BIMEHACKDAY/public/janto/?Nivel=Evento&idEvento=HACKDAY&Idioma=ES" translate>inscribir.enlace</a></div>
			</div>
		</div>
	</div>
</div>