<div id="sub-inscripcion">
	<div class="row">
		<div class="large12 columns">
			<h1>¿Te lo vas a perder?</h1>
			<div class="inscripcion-wrapper">
				<h3>¿A que tengo derecho con la entrada?</h3>
				<p>A asistir</p>
				<p>A participar</p>
				<p>A traer</p>
				<p>A xomida</p>
				<h3>Precio de la inscripción: XX€</h3>
				<p class="condiciones"><a target="_blank" href="/#condiciones">*Consulta las condiciones de participación</a></p>
				<div class="btn-info rigth"><a target="_blank" href="/#">Inscríbete</a></div>
			</div>
		</div>
	</div>
</div>