<div id="sub-inscripcion">
	<div class="row">
		<div class="large12 columns">
			<h1 class="sub-footer">¿Te lo vas a perder?</h1>
			<div class="inscripcion-wrapper">
				<h3 class="sub">¿A que tengo derecho con la entrada?</h3>
				<p>A asistir a todas las charlas y workshops del BIME Hack day.</p>
				<p>A participar de manera individual ó en equipo en el Hackx24 y optar a los premios correspondientes.</p>
				<p>A traer tu material de trabajo y equipo, exponerlo y compartirlo.</p>
				<p>A comida y bebida durante todo el evento.</p>
				<h3 class="precio">Precio de la inscripción: 10€ <span class="gastos">+ gastos de gestión</span> </h3>
				<p class="condiciones"><a target="_blank" href="/#condiciones">*Consulta las condiciones de participación</a></p>
				<div class="btn-ins rigth"><a target="_blank" href="/#">Inscríbete</a></div>
			</div>
		</div>
	</div>
</div>