<div id="footer">
	<div class="row">
		<div class="largue-12 columns">
			<h1 class="footer" translate>PIE.TITULO</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
		<ul class="redes">
          <li><a class="twitter" href="http://www.twitter.com/XX">
          	<img src="/img/twitter.png" alt="twitter"></a>
          </li>
          <li>
          	<a class="facebook" href="http://www.facebook.com/XX">
          	<img src="/img/gplus.png" alt="twitter"></a>
          	</a>
          </li>
          <li>
          	<a class="mail" href="http://zuXXXrb.com/Xt">
				<img src="/img/facebook.png" alt="twitter"></a>
          	</a>
          </li>
        </ul>
		</div>
</div>