<!-- <h1 id="S">{{ 'FOOTER' | translate }}</h1> -->
<div id="patrocinadores">
	<div class="row">
		<div class="largue-12 columns">
			<h2 class="patrocinadores" translate>PATROCINADORES.TITULO</h2>
		</div>
	</div>
  <div class="row">
            <div class="large-12 columns">
              <ul class="large-block-grid-4 logos">
                  <li><a target="_blank" href="http://m/"><img alt="Google" src="/img/pa-google.png"></a></li>
                  <li><a target="_blank" href="http://m/"><img alt="Spotify" src="/img/pa-spotify.png"></a></li>
                  <li><a target="_blank" href="http://m/"><img alt="Amazon WS" src="/img/pa-amazon.png"></a></li>
                  <li><a target="_blank" href="http://m/"><img alt="Deezer" src="/img/pa-deezer.png"></a></li>
              </ul>
              <ul class="large-block-grid-4 logos">
                  <li><a target="_blank" href="http://m/"><img alt="Delirium" src="/img/pa-delirium.png"></a></li>
                  <li><a target="_blank" href="http://m/"><img alt="Asoma" src="/img/pa-asoma.png"></a></li>
                  <li><a target="_blank" href="http://m/"><img alt="Nvivo" src="/img/pa-nvivo.png"></a></li>
                  <li><a target="_blank" href="http://m/"><img alt="Goear" src="/img/pa-goear.png"></a></li>
              </ul>
                <ul class="large-block-grid-4 logos">
                  <li><a target="_blank" href="http://m/"><img alt="Asoma" src="/img/pa-napster.png"></a></li>
                  <li><a target="_blank" href="http://m/"><img alt="Delirium" src="/img/pa-cooking.png"></a></li>
              </ul>
          </div>
    </div>
</div>
