<div>
	

<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="unavailable"><a href="#">Proyectos</a></li>
	  <li class="current"><a href="#">Ghana</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Ghana</h1>
			<h3 class="subheader">“Supervivencia infantil y maternidad segura”</h3>
			<img src="/img/ghana-seccion.jpg" alt="Ghana">
			<p><strong>Temática:</strong> Salud Materno infantil
			</p>
			<p><strong>Situación:</strong> El Distrito de Akatsi se ubica en el sudeste de Ghana. Se trata de una zona de difícil acceso con pobres instalaciones sanitarias y una proporción de un doctor-enfermero/a por cada 70.000 personas.
			</p>
			<p><strong>Actividad:</strong> Creamos una línea base sobre salud materno infantil en las comunidades meta, capacitamos a 100 parteras tradicionales. Proporcionamos mayor información y sensibilización en las gestantes. Capacitaciones para madres (nutrición y prevención de las enfermedades más comunes en niños menores de cinco años). Actividades de empoderamiento a nivel comunitario (creación de clubes de madres y de comités de barrio).</p>
			<p class="ul-pre"><strong>Benificiarios:</strong></p>
				<ul class="disc">
					<li>1.000 mujeres embarazadas y/o madres en 20 comunidades.
					</li>
					<li>500 niños menores de 5 años.</li>
					<li>6.000 familias de las comunidades meta.</li>
					<li>20 grupos de mujeres de comunidades seleccionadas.</li>
					<li>100 parteras tradicionales.</li>
				</ul>
								<div class="app-texto">
					<h4 class="app">Posible app</h4>
					<div class="a-texto">
					<p>Pensamos en una aplicación que facilite a las matronas, que han sido formadas en el
marco del proyecto, la tarea de recoger los datos del cuidado pre y post natal de las 
mujeres embarazadas y de sus bebés. Debería ser algo muy visual debido al bajo nivel de 
alfabetización.</p>
					<p>Además, debería poder recoger información de interés a la que ellas pudieran acudir en caso 
de duda. Información con infografías sobre cómo proceder en casos de preclampsia, por
ejemplo, cómo detectarla, cómo hacer en caso de parto prematuro, qué debe pesar y medir un
bebé a la semana, al mes….</p>
					</div>
				</div>	
		</div>
	</div>
</div>
<div formulario-inscripcion></div>
<div paginas-footer></div>
</div>