<div id="seccion-interior" class="que-es">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Hack x 24</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Hack x 24</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<img src="/img/t1.png" alt="Bime">
					<p>Es un encuentro de desarrolladores de tecnología (hardware y software) cuyo objetivo es llevar a cabo un proyecto colaborativo innovador durante 24 horas. Además las empresas colaboradoraas quieren premiar tu trabajo a través de los contests. Los mejores proyectos serán premiados dentro de las siguientes categorías:</p>
					<ul>
						<li><strong>Premio BIME Hack Day al mejor desarrollo: 1500 €</strong><br>
	Todos los proyectos desarrollados en Hackx24 podrán optar a este premio. 
</li>
						<li><strong>Premio genérico: 2 entradas para BBK Live 2014 + 2 entradas BIME Live</strong><br>	
	Todos los premios entregados irán acompañados de estas 4 entradas para cada ganador
</li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>


