<div id="seccion-interior" class="que-es">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Hackx24</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Hackx24</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>Es un encuentro de desarrolladores de tecnología (hardware y software) cuyo objetivo es llevar a cabo un proyecto colaborativo innovador durante 24 horas. Además las empresas colaboradoraas quieren premiar tu trabajo a través de los contests. Los mejores proyectos serán premiados dentro de las siguientes categorías:</p>
					<ul id="listado">
						<li><strong>Premio BIME Hack Day al mejor desarrollo: 1500 €</strong><br>
							Todos los proyectos desarrollados en Hackx24 podrán optar a este premio. 
						</li>
						<li><strong>Premio genérico: 2 entradas para BBK Live 2014 + 2 entradas BIME Live</strong><br>	
							Todos los premios entregados irán acompañados de estas 4 entradas para cada ganador
						</li>
						<li><strong>Premios patrocinados:</strong><br>
					Cada empresa colaboradora en el evento ofrecerá <a target="_blank" href="/#/premios">premios diferentes</a></li>
						
					</ul>
					<h4>Mapa Nodos</h4>
					<img src="/img/mapa-nodos.jpg" alt="Mapa nodos">
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>


