<div id="seccion-interior" class="que-es">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>inicio</a></li>
			  <li class="current"><a href="#">Hackx24</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>hackx24.titulo</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p translate>hackx24.texto</p>
					<ul id="listado">
						<li translate>hackx24.l1</li>
						<li translate>hackx24.l2</li>
						<li translate>hackx24.l3</li>
					</ul>
					<h4>Mapa nodos</h4>
					<img src="/img/mapa-nodos.jpg" alt="Mapa nodos">
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>


