<div>
<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="current"><a href="#">Hackathón</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Hackathón</h1>
			<h3 class="subheader">¿Qué es un hackathón social?</h3>
			<img src="/img/hackathon.jpg" alt="Hackathon">
			<p>El desarrollo y uso de aplicaciones móviles tienen un gran potencial para ayudar a mejorar las vidas de las personas más vulnerables del planeta.
</p>
			<p>Un hackathón social es un evento que reúne a desarrolladores/as voluntarios/as en un maratón por un tiempo determinado para trabajar empleando el mínimo de recursos y máximo ingenio en crear aplicaciones móviles como respuesta a desafíos y problemas reales que intentarán mejorar la vida de las personas.</p>
		</div>
	</div>
</div>
<div paginas-footer></div>
</div>
