<div id="seccion-interior" class="horarios">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>inicio</a></li>
			  <li class="current"><a href="#" translate>horariosSeccion.breadcrumb</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>horariosSeccion.titulo</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
				 <h4 translate>horariosSeccion.dia20</h4>
					<div class="conference-item">
						<span>10:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d1 </h5> 
						<span>11:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d2 </h5> 
						<span>13:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d3 </h5> 
						<span>14:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d4 </h5>
						<span>14:30</span><h5 class="conferecia-destacado" translate>horariosSeccion.d5 </h5> 
						<span>16:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d6 </h5> 
						<span>17:00</span><h5 class="work-destacado" translate>horariosSeccion.d7 </h5>														 
						<span>19:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d8 </h5> 
						<span>20:00</span><h5 class="work-destacado" translate>horariosSeccion.d9 </h5> 
						<span translate>horariosSeccion.d10 </span>
					</div>	
				</div>


				<div class="segundo">
					<h4 translate>horariosSeccion.dia21</h4>
					<div class="conference-item">
						<span>9:00</span><h5 translate>horariosSeccion.d11 </h5>
						<span>10:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d12 </h5>
						<span>11:00</span><h5 class="work-destacado" translate>horariosSeccion.d13 Workshop: </h5>
						<span>13:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d14 </h5>
						<span>14:00</span><h5 class="work-destacado" translate>horariosSeccion.d15 </h5>
						<span>14:30</span><h5 translate>horariosSeccion.d16 </h5>
						<span>16:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d17  </h5> 
						<span>17:00</span><h5 class="conferecia-destacado" translate>horariosSeccion.d18 </h5> 
	 					<span>18:30</span><h5 translate>horariosSeccion.d19 </h5>
	 					<span>19:30</span><h5 translate>horariosSeccion.d20 </h5>
	 					<span>20:00</span><h5 translate>horariosSeccion.d21 </h5>
	 					<span translate>horariosSeccion.d22 </span>
								
					</div>
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>