<div id="seccion-interior" class="horarios">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Horarios BIME Hack Day</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Horarios BIME Hack Day</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
				 <h4>Día 20</h4>
					<div class="conference-item">
						<span>10:00</span><h5 class="conferecia-destacado">Registro de participantes y bienvenida</h5> 
						<span>11:00</span><h5 class="conferecia-destacado">Conferencias: Amazon (AWS), nvivo</h5> 
						<span>13:00</span><h5 class="conferecia-destacado">Micrófono abierto</h5> 
						<span>14:00</span><h5 class="conferecia-destacado">Presentación API: Spotify, Deezer, Goear, Nvivo</h5>
						<span>14:30</span><h5 class="conferecia-destacado">Inicio de Hackx24</h5> 
						<span>16:00</span><h5 class="conferecia-destacado">Conferencia: Estos son tus derechos: Copyleft</h5> 
						<span>17:00</span><h5 class="work-destacado">Workshop: Gracias por su Netlabel</h5>														 
						<span>19:00</span><h5 class="conferecia-destacado">Conferencia: Concepción de la Música Experimental</h5> 
						<span>20:00</span><h5 class="work-destacado">Workshop: OpenSource Audio Tools</h5> 
						<span>El hacking continua!</span>
					</div>	
				</div>


				<div class="segundo">
					<h4>Día 21</h4>
					<div class="conference-item">
						<span>9:00</span><h5>Desayuno</h5>
						<span>10:00</span><h5 class="conferecia-destacado">Conferencia: Concepción de la Música Experimental</h5>
						<span>11:00</span><h5 class="work-destacado">Workshop: Impresión 3D; Softs y Hards</h5>
						<span>13:00</span><h5 class="conferecia-destacado">Conferencia: Interactividad y generatividad en Arte y Música</h5>
						<span>14:00</span><h5 class="work-destacado">Workshop: Arduino y música</h5>
						<span>14:30</span><h5>Final Hackx24</h5>
						<span>16:00</span><h5 class="conferecia-destacado">Conferencia: Flow based programming, el nuevo hype</h5> 
						<span>17:00</span><h5 class="conferecia-destacado">Conferencia: Organiza tu propio evento(Asoma), Delirium Studios</h5> 
	 					<span>18:30</span><h5>Presentaciones Hackx24</h5>
	 					<span>19:30</span><h5>Entrega de premios</h5>
	 					<span>20:00</span><h5>Clausura</h5>
	 					<span>*La comida se servirá entre las 13:00 y las 15:30 h. La cena a partir de las 22:00h</span>
								
					</div>
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>