<div id="seccion-interior" class="horarios">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Horarios Bime Hack a Day</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Horarios Bime Hack a Day</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p>El evento tendrá una duración de 24 horas, que se distribuirán de la siguiente manera:
					</p>
					<h4>Martes 19</h4>
					<p>20:00 Pre meeting</p>
					<h4>Miércoles 20</h4>
					<p>20:00 Pre meeting</p>
					<p>20:00 Pre meeting</p>
					<p>20:00 Pre meeting</p>
					<p>20:00 Pre meeting</p>
					<p>20:00 Pre meeting</p>
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>