<div>	
<div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="unavailable"><a href="#">Proyectos</a></li>
	  <li class="current"><a href="#">India</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>India</h1>
			<h3 class="subheader">“Programa activo para la eliminación de la lepra”</h3>
			<img src="/img/india-seccion.jpg" alt="India">
			<p><strong>Temática:</strong> Enfermedades tropicales desatendidas
			</p>
			<p><strong>Situación:</strong> India tiene el 58% de los nuevos casos de lepra identificados a nivel mundial (OMS, enero 2011). La organización india ALERT-INDIA formuló la estrategia LEAP en el 2005, en un intento de fortalecer unos servicios de calidad accesibles e integrados en el sistema público de salud indio en el marco de un programa de control de la lepra.
			</p>
			<p><strong>Objetivo:</strong> Asegurar el Derecho a la salud de las personas afectadas por lepra en 13 distritos de los estados de Maharashtra y Chhattisgarh a través de medidas de control de la enfermedad basadas en el refuerzo de unos servicios integrales de calidad y accesibles dentro del sistema público de salud indio.
			</p>
			<p><strong>Actividad:</strong> Nuestra Intervención se centra en tres aspectos: sensibilización comunitaria para reducir el estigma social y promover el auto diagnóstico para asegurar la detección temprana de la enfermedad;  apoyo técnico y logístico a centros de referencia especializados en lepra integrados en el Sistema Nacional de Salud indio que aseguran el diagnóstico temprano de casos complicados y la prevención y tratamiento de complicaciones y discapacidades; y formación de personal sanitario.
			</p>
			<p class="ul-pre"><strong>Benificiarios:</strong></p>
				<ul class="disc">
					<li>13.233 personas enfermas o afectadas de lepra
					</li>
					<li>45.261 escolares</li>
					<li>3.199 voluntarios comunitarios</li>
					<li>6.002 personas pertenecientes al personal médico y paramédico
					</li>
					<li>700 mujeres de Grupos de Autoayuda comunitarios</li>
					<li>132 miembros de las contrapartes de ALERT INDIA y otras ONGs asociadas</li>
					<li>75 oficiales de lepra a nivel estatal y distrital del Gobierno de la India
					</li>
					<li>Trabajamos junto a los Departamentos de Salud de los estados de Maharashtra y Chhattisgarh.</li>
				</ul>

								<div class="app-texto">
					<h4 class="app">Posible app</h4>
					<div class="a-texto">
					<p>AUTO DIAGNÓSTICO / IDENTIFICACIÓN DE LAS COMPLICACIONES EN NUEVOS CASOS</p>
					<p>La falta de conciencia de auto-diagnóstico que se traduce en un retraso en la búsqueda de

ayuda. Sin claridad en los problemas clínicos (médicos) y sociales que enfrentan los nuevos 

casos. Ausencia de información sobre el tratamiento iniciado. La falta de conocimientos sobre 

los métodos y medios para la prevención de las discapacidades.</p>
					<p>Pensamos en una app de auto diagnóstico e  identificación de las complicaciones de nuevos

casos. De este modo la aplicación aportará consejos para facilitar el autodiagnóstico y la

disponibilidad de los servicios de la lepra. Así como noticias relacionadas con la gestión de

la lepra y sus complicaciones, en especial los problemas relacionados con los nervios y la 

discapacidad.</p>
					<p>Estadísticas y recordatorios de alerta para asistir a una cita con el médico.</p>
					</div>
				</div>	






		</div>
	</div>
</div>
<div formulario-inscripcion></div>
<div paginas-footer></div>
</div>