<div id="seccion-interior" class="faq">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">+info</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">+ Info</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<h4>¿Dónde se realizará el BIME Hack Day?</h4>
					<p>Todas las actividades de BIME así como BIME Hack Day tendrán lugar en el BEC(Bilbao Exhibition Centre) . El Hack Day será en la quinta planta;</p>
					<img src="/img/mapa-hack.jpg" alt="Mapa Hack Day">
					<p><strong>Dirección</strong><br>BEC (5ª planta)<br>Ronda de Azkue, 1  48902 Ansio<br>
						Barakaldo, Vizcaya
					</p>
					<h4>Mapa</h4>
					<iframe width="930" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;q=bec+bilbao&amp;ie=UTF8&amp;hq=bec+bilbao&amp;hnear=&amp;radius=15000&amp;ll=43.292497,-2.990041&amp;spn=0.007809,0.019934&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.es/maps?t=m&amp;q=bec+bilbao&amp;ie=UTF8&amp;hq=bec+bilbao&amp;hnear=&amp;radius=15000&amp;ll=43.292497,-2.990041&amp;spn=0.007809,0.019934&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
					<h4>Como llegar a BEC</h4>
					<p><strong>En Metro</strong><br>
					Línea 2 Portugalete, salida Ansio (estación en acceso norte de BEC)</p>
					<p><strong>En Coche</strong><br>
					Desde Bilbao/Bilbo, por la A-8 dirección "Santander", salida 8: Barakaldo/Bilbao Exhibition Centre BEC.
					</p>
					<p>Desde Álava/Araba por la A-68 dirección “Bilbao” tomar la A-8 dirección "Santander", salida 8 Barakaldo/Bilbao Exhibition Centre BEC.</p>
					<p>Desde Guipúzcoa/Gipuzkoa, por la A-8 dirección “Bilbao” salida 19: Aeropuerto/Getxo y posteriormente dirección Santander por puente Rontegi, salida 9: Barakaldo/Bilbao Exhibition Centre BEC.</p>
					<p>Desde Santander, por la A-8 dirección “Bilbao” , salida 9: Baracaldo/ Bilbao Exhibition Centre BEC
					</p>
					<h4>Parking BEC</h4>
					<p>El parking de BEC tiene 3 entradas y 3 salidas. A, B y C.( Ver plano)
					Cuenta con 4.000 plazas que se ubican en 3 niveles.
					Cada nivel se divide en tres espacios identificados por colores:</p>
					<p>La zona azul se sitúa bajo los pabellones 1 y 2
					La zona naranja se sitúa bajo los pabellones 3 y 4
					La zona verde se sitúa bajo los pabellones 5 y 6.</p>
					<p>Las maquinas de pago se encuentran situadas a lo largo del atrio. Están indicadas con la P de parking.
					Existe un acceso peatonal exterior situado junto a la estación de Metro Ansio. (Ver plano). Este acceso tiene también 2 máquinas de pago de parking. El horario de apertura del parking es el siguiente:
					Puerta C: 24 horas
					Puertas A y B: desde las 7,30 horas</p>
			</div>
			<div class="segundo">
					<h4>¿A qué tengo derecho con la entrada?</h4>
					<p>- A asistir a todas las charlas y workshops del BIME hackday<br>
						- A participar de manera individual ó en equipo en el Hackx24 y optar a los premios correspondientes.<br>
						- A traer tu material de trabajo y equipo, exponerlo y compartirlo.<br>
						- A comida y bebida durante todo el evento.<br>
							*Consulta las <a target="_blank" href="/#condiciones">condiciones de participación</a></p>


			</div>

			</div>
		</div>
</div>

<div footer-inscribir></div>
<div footer-partner></div>