<div id="seccion-interior" class="faq">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>inicio</a></li>
			  <li class="current"><a href="#" translate>infoSeccion.breadcrumbs </a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>infoSeccion.titulo</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<h4 translate>infoSeccion.donde</h4>
					<p translate>infoSeccion.p1</p>
					<img src="/img/mapa-hack.jpg" alt="Mapa Hack Day">
					<p translate>infoSeccion.p2</p>
					<h4 translate>infoSeccion.mapa</h4>
					<iframe width="930" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;q=bec+bilbao&amp;ie=UTF8&amp;hq=bec+bilbao&amp;hnear=&amp;radius=15000&amp;ll=43.292497,-2.990041&amp;spn=0.007809,0.019934&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.es/maps?t=m&amp;q=bec+bilbao&amp;ie=UTF8&amp;hq=bec+bilbao&amp;hnear=&amp;radius=15000&amp;ll=43.292497,-2.990041&amp;spn=0.007809,0.019934&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
					<h4 translate>infoSeccion.llegar</h4>
					<p translate>infoSeccion.p3</p>
					<p translate>infoSeccion.p4</p>
					<p translate>infoSeccion.p5</p>
					<p translate>infoSeccion.p6</p>
					<p translate>infoSeccion.p66</p>
					<h4 translate>infoSeccion.parking</h4>
					<p translate>infoSeccion.p7</p>
					<p translate>infoSeccion.p8</p>
					<p translate>infoSeccion.p9</p>
					<h4 translate>infoSeccion.dudas</h4>
					<p translate>infoSeccion.p10</p>
			</div>
			</div>
		</div>
</div>

<div footer-inscribir></div>
<div footer-partner></div>