
<div id="main">
	<div id="presentacion">
		<div class="row">
			<div class="large-12 columns">
				<h1 class="presentacion" translate>PRESENTACION.TITULO</h1>
				<p class="sub-texto" ng-bind-html-unsafe="'PRESENTACION.SUBTEXTO'|translate"></p>
				<div class="presentacion-texto">
					<p translate>PRESENTACION.TEXTO</p>
					<p class="rigth"><a href="/" translate>VER_MAS</a></p>
				</div>
			</div>
		</div>
	</div>
	<div id="actividades">
		<div class="row">
			<div class="large-12 columns">
					<h1 class="actividades" translate>ACTIVIDADES.TITULO</h1>
				<div class="linea"></div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<div class="actividad-wrapper">
					<h2 translate>ACTIVIDADES.SUBTITULO_24</h2>
					<p ng-bind-html-unsafe="'ACTIVIDADES.TEXTO_24'|translate"></p>
					<div class="btn-info"><a href="/" translate>MAS_INFORMACION</a></div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="actividad-wrapper"><h2 translate>ACTIVIDADES.SUBTITULO_CHARLAS</h2>
					<p ng-bind-html-unsafe="'ACTIVIDADES.TEXTO_CHARLAS'|translate"></p>
                     <div class="btn-info"><a href="/" translate>MAS_INFORMACION</a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns"><div class="puestos" translate>ACTIVIDADES.SOLO</div>
 			<div class="puestos-inscripcion"><a href="/" translate>INSCRIBETE</a></div>
			</div>
		</div>

</div>

	<div id="premios">
		<div class="row">
			<div class="large-12 columns">
				<div class="header-seccion"><h1 class="seccion" translate>PREMIOS.TITULO</h1></div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
		</div>

				<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
		</div>
				<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Nodo google</h3>
					<h3 class="premio-sub">Contest GMusic+</h3>
					<p class="texto-pre">Premio: <strong>300€</strong> al mejor proyecto realizado con la tecnología de google</p>
					<img src="/img/google.png" alt="Google">
				</div>
			</div>
		</div>


		</div>






