<div id="main">
	<div id="presentacion">
		<div class="row">
			<div class="large-12 columns">
				<h1 class="presentacion" translate>main.titulo</h1>
				<p class="sub-texto" ng-bind-html-unsafe="'PRESENTACION.SUBTEXTO'|translate"></p>
				<p class="rigth"><a href="/#/que-es" translate>ver_mas</a></p>

				<h4 class="patrocinios"translate>main.h4</h4>
				<div class="presentacion-texto">
				<div class="row">
			<div class="large-12 columns">
              <ul class="large-block-grid-4 logos">
                  <li><a target="_blank" href="https://www.google.com/"><img alt="Google" src="/img/pa-google.png"></a></li>
                  <li><a target="_blank" href="https://www.spotify.com/es/"><img alt="Spotify" src="/img/pa-spotify.png"></a></li>
                  <li><a target="_blank" href="http://aws.amazon.com/es/"><img alt="Amazon WS" src="/img/pa-amazon.png"></a></li>
                  <li><a target="_blank" href="http://www.deezer.com/es/"><img alt="Deezer" src="/img/pa-deezer.png"></a></li>
              </ul>
              <ul class="large-block-grid-4 logos">
                  
                  <li><a target="_blank" href="http://www.android.com/"><img alt="Android" src="/img/pa-android.png"></a></li>
                  <li><a target="_blank" href="http://es.napster.com/"><img alt="Napster" src="/img/pa-napster.png"></a></li>
                  <li><a target="_blank" href="http://www.redbullmusicacademy.com/"><img alt="Red bull" src="/img/pa-redbull.png"></a></li>
                  <li><a target="_blank" href="http://www.goear.com/"><img alt="Goear" src="/img/pa-goear.png"></a></li>
 
              </ul>
                <ul class="large-block-grid-4 logos">
                  <li><a target="_blank" href="http://www.cooking-hacks.com/"><img alt="Cooking hacks" src="/img/pa-cooking.png"></a></li>
                  <li><a target="_blank" href="https://soundcloud.com/"><img alt="Soundcloud" src="/img/pa-sound.png"></a></li>  
                  <li><a target="_blank" href="http://www.deliriumstudios.com/bienvenido.html"><img alt="Delirium" src="/img/pa-delirium.png"></a></li>
                  <li><a target="_blank" href="http://www.nvivo.es/"><img alt="Nvivo" src="/img/pa-nvivo.png"></a></li>                                                            
              	</ul>
              	<ul class="large-block-grid-4 logos">
              		<li><a target="_blank" href="http://www.ludei.es/"><img alt="Ludei" src="/img/pa-ludei.png"></a></li>
              		 <li><a target="_blank" href="http://asoma.es/"><img alt="Asoma" src="/img/pa-asoma.png"></a></li>
 					<li><a target="_blank" href="http://mobandme.com"><img alt="Mob&me" src="/img/pa-mobme.png"></a></li>
   
                  <li><img alt="Bime" src="/img/pa-com.png"></li>                                                          
              	</ul>
          </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div id="actividades">
		<div class="row">
			<div class="large-12 columns">
					<h1 class="actividades" translate>main.activida_titulo</h1>
				<div class="linea"></div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<div class="actividad-wrapper hack24">
					<h2 translate>ACTIVIDADES.SUBTITULO_24</h2>
					<p translate ng-bind-html-unsafe="'ACTIVIDADES.TEXTO_24'|translate"></p>
					<p><strong>Music APIs / Web services and cloud computing / Video Games / Mobile Apps 
					</strong>
					
				</p>
					<div class="btn-info"><a href="#/hackx24" translate>MAS_INFORMACION</a></div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="actividad-wrapper"><h2 translate>ACTIVIDADES.SUBTITULO_CHARLAS</h2>
					<p ng-bind-html-unsafe="'ACTIVIDADES.TEXTO_CHARLAS'|translate"></p>
                     <div class="btn-info"><a href="#/conferencias" translate>MAS_INFORMACION</a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns"><div class="puestos" translate>ACTIVIDADES.SOLO</div>
 			<div class="puestos-inscripcion"><a target="_blank" href="https://entradas.lasttourinternational.com/BIMEHACKDAY/public/janto/?Nivel=Evento&idEvento=HACKDAY&Idioma=ES" translate>INSCRIBETE</a></div>
			</div>
		</div>

</div>

	<div id="premios">
		<div class="row">
			<div class="large-12 columns">
				<div class="header-seccion"><h1 class="seccion" translate>PREMIOS.TITULO</h1></div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">

				<p class="destacado" translate>main.premios</p>
			
			<p class="sub-destacado" translate>main.subpremios</p>

			</div>
		</div>
			<div class="row">
			<div class="large-12 columns">
				<div class="header-seccion"><h1 class="seccion" translate>main.partners</h1></div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Music APIs</h3>
					<h3 class="premio-sub">Spotify</h3>
					<p class="texto-pre" translate >main.spotify</p>
					<img src="/img/spotify-p.png" alt="Spotify">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Music Apis</h3>
					<h3 class="premio-sub">Deezer</h3>
					<p class="texto-pre" translate>main.deezer</p>
					<img src="/img/deezer-p.png" alt="Deezer">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Cloud Computing</h3>
					<h3 class="premio-sub">Amazon WS</h3>
					<p class="texto-pre" translate>main.aws</p>
					<img src="/img/amazon-p.png" alt="Amazon ws">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Videogames</h3>
					<h3 class="premio-sub">Delirium Studios</h3>
					<p class="texto-pre" translate>main.delirum</p>
					<img src="/img/delirium-p.png" alt="Delirium">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Mobile Apps</h3>
					<h3 class="premio-sub">Asoma</h3>
					<p class="texto-pre" translate>main.asoma</p>
					<img src="/img/pa-asoma.png" alt="Asoma">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Open Hardware</h3>
					<h3 class="premio-sub">Cooking Hacks</h3>
					<p class="texto-pre line" translate>main.cooking</p>
					<img src="/img/pa-cooking.png" alt="Asoma">
				</div>
			</div>
		</div>

		<div class="row">
						<div class="large-4 columns">
							<div class="premio-item">
					<h3 class="premio-titular"></h3>
					<h3 class="premio-sub">Ludei</h3>
					<p class="texto-pre" translate>premiosSeccion.ludei </p>
					<img src="/img/pa-ludei.png" alt="ludei">
				</div>
						</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular"></h3>
					<h3 class="premio-sub">Goear</h3>
					<p class="texto-pre" translate>premiosSeccion.gogear </p>
					<img src="/img/pa-goear.png" alt="Gogear">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular"></h3>
					<h3 class="premio-sub">Mob&Me</h3>
					<p class="texto-pre" translate>premiosSeccion.mobme </p>
					<img src="/img/pa-mobme.png" alt="Mob&Me">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
							<div class="premio-item-comodin">
								
							</div>
			</div>
			<div class="large-4 columns">
				
					<div class="premio-item">
								<h3 class="premio-titular">Music Apis</h3>
								<h3 class="premio-sub">Nvivo</h3>
								<p class="texto-pre" translate>premiosSeccion.nvivo </p>
								<img src="/img/pa-nvivo.png" alt="nvivo">
							</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item-comodin">
					
				</div>
			</div>
			
			
			</div>


</div>






