
<div id="main">
<div id="presentacion">
	<div class="row">
		<div class="large-12 columns">
			<h1 class="presentacion">¿Que es Bime hack a Day?</h1>
			<p class="sub-texto">Es el mayor encuentro­ conference del estado. Especialmente creado para fomentar la <strong>CREATIVIDAD</strong> y la invención reúne a amantes y profesionales de la Música y la Tecnología, <strong>MAKERS</strong> y <strong>HACKERS</strong>.</p>
			<div class="presentacion-texto">
				<p>Participarán durante dos días en diferentes actividades abiertas como concursos, charlas y talleres y un hackx24 (hackaton de 24h), todo ello relacionado con la industria musical. Los asistentes poseen la oportunidad única de testear las últimas novedades del mercado así como contactar profesionalmente con grandes empresas, mostrar sus trabajos a públicos especializados y generar comunidad, Una intensa jornada de 36h donde se genera el futuro de la música, pero sobretodo donde se aprende y se comparte.</p>
				<p class="rigth">VER MÁS</p>
			</div>
		</div>
	</div>
</div>

</div>



