<div id="paginas-footer">
<div class="row">
  <div class="large-12"><h2>Otros proyectos</h2></div>  
  
  <div class="large-3 columns">
         <a href="#/applibre"><h3>App libre</h3>
      <h3 class="subheader">"App de temática libre aunque siempre enfocada en solucionar temas relacionados con el derecho a la salud"</h3></a>

  </div>
  
  <div class="large-3 columns">
  	  <a href="#/tailandia"><h3>Tailandia</h3>
      <h3 class="subheader">“Contra la trata de seres humanos en el sudeste asiático”</h3></a>
  </div>
    <div class="large-2 columns">
  	 <a href="#/peru"><h3>Perú</h3>
      <h3 class="subheader">“Combate el Dengue con el apoyo de las TICs”</h3></a>
  </div>
  <div class="large-2 columns">
  	<a href="#/ghana"><h3>Ghana</h3>
      <h3 class="subheader">“Supervivencia infantil y maternidad segura”</h3></a>
  </div>
    <div class="large-2 columns">
 

  <a href="#/india"><h3>India</h3>
      <h3 class="subheader">“Programa activo para la eliminación de la lepra”</h3></a>

  </div>
</div>
</div>
