<div><div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="unavailable"><a href="#">Proyectos</a></li>
	  <li class="current"><a href="#">Perú</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Perú</h1>
			<h3 class="subheader">“Combate el Dengue con el apoyo de las TICs”</h3>
			<img src="/img/peru-seccion.jpg" alt="Perú">
			<p><strong>Temática:</strong> Enfermedades tropicales desatendidas

			</p>
			<p><strong>Situación:</strong> En el Perú, el mosquito Aedes aegypti fue erradicado en 1958. En 1984 se detectó la reinfestación en la ciudad de Iquitos y en 1990 se confirmaron los primeros casos de dengue en esta misma ciudad. En los años siguientes la costa norte fue infestada y a partir del año 2001, se notificaron los primeros casos de dengue hemorrágico. En los últimos años la tendencia de esta enfermedad ha sido muy irregular. La enfermedad se presenta en forma de brotes en diferentes regiones, principalmente en la selva central, nororiental y en la costa norte. 	
			</p>
			<p>
				En La Libertad, entre 2007-2012 el escenario epidemiológico ha evolucionado de forma positiva con una significativa bajada de los casos. Actualmente, en lo que llevamos de año se han registrado 21 casos de dengue confirmados y 17 probables en toda la región La Libertad, según el reporte de la Gerencia Regional de Salud. La población en riesgo en los distritos es de 1.110,667 habitantes, que equivale 61.2% del total de la población regional. 
			</p>
			<p><strong>Actividad:</strong> Contribuir a la reducción de la morbilidad, la mortalidad y la carga socioeconómica provocada por el dengue en la región de La Libertad. 
			</p>
			<p class="ul-pre"><strong>Benificiarios:</strong></p>
				<ul class="disc">
					<li>Mujeres, niños/niñas y adultos mayores de las zonas de riesgo

					</li>
					<li>La población en riesgo para dengue en el presente año (2013) es de 1’175,747 hab. (64.8 % del total de la población regional).
					</li>

				</ul>
				<div class="app-texto">
					<h4 class="app">Posible app</h4>
					<div class="a-texto">
						<p>Pensamos en una aplicación que facilite  la  creación de una base de datos  y ayude en
						la  detección temprana de la enfermedad, mapeo de zonas de riesgo y coordinación de 
						acciones , para que efectivamente contribuya a la rápida identificación y despliegue de 
						acciones dirigidas al control de la Dengue.</p>
					</div>
				</div>
		</div>
	</div>
</div>
<div formulario-inscripcion></div>
<div paginas-footer></div>
</div>