<div id="seccion-interior" class="premios">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">Premios</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">Premios</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
				
	<div id="premios-seccion">
	
		<div class="row">
			<div class="large-12 columns">

				<p class="destacado">Premio BIME Hack Day de <strong>1500€</strong> al mejor desarrollo</p>
			
			<p class="sub-destacado">
			Premio para el mejor desarrollo en cada nodo de <strong>DOS BONOS</strong> para el <strong>BILBAO BBK LIVE 2014</strong> y <strong>DOS BONOS</strong> para el <strong>BIME LIVE</strong></p>
			</div>
		</div>
			<div class="row">
			<div class="large-12 columns">
				<h4 class="patrocinios">Premios de nuestros patrocinadores</h4>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Mobile apps</h3>
					<h3 class="premio-sub">Spotify</h3>
					<p class="texto-pre">Cuenta Premium para un año.</p>
					<img src="/img/spotify-p.png" alt="Spotify">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Music Apis</h3>
					<h3 class="premio-sub">Deezer</h3>
					<p class="texto-pre">Cuenta Premium para un año.</p>
					<img src="/img/deezer-p.png" alt="Deezer">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Cloud Computing</h3>
					<h3 class="premio-sub">Amazon WS</h3>
					<p class="texto-pre">Cuenta Premium para un año.</p>
					<img src="/img/amazon-p.png" alt="Amazon ws">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Videogames</h3>
					<h3 class="premio-sub">Delirium Studios</h3>
					<p class="texto-pre">Juego de Los Mundos de Alice.</p>
					<img src="/img/delirium-p.png" alt="Delirium">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Movile Apps</h3>
					<h3 class="premio-sub">Asoma</h3>
					<p class="texto-pre">Practicas profesionales.</p>
					<img src="/img/asoma-p.png" alt="Asoma">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Mobile Apps</h3>
					<h3 class="premio-sub">Cooking Hacks</h3>
					<p class="texto-pre">Kit de arduino.</p>
					<img src="/img/pa-cooking.png" alt="Asoma">
				</div>
			</div>
		</div>

		</div>

				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>