<div><div id="proyecto-seccion" class="faq">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="current"><a href="#">Premios</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Premios</h1>
			<h3 class="subheader">Reglas y criterio de adjudicación de los premios</h3>
			<h4>Reglas</h4>
			<p>Las personas desarrolladoras tiene total libertad en cuanto al uso de tecnologías y plataformas (web, escritorio o aplicación móvil); como así también la elección del lenguaje de programación a utilizar.</p>
			<p>Las aplicaciones serán desarrolladas bajo la filosofía open source.Las personas participantes pueden venir con su equipo formado. Si no tiene equipo lo puede formar el mismo día del hackathon social. Habrá una ronda de networking antes de empezar la competencia; oportunidad para establecer contactos y relacionarse para armar equipo.</p>
			<p>Los equipos deberán estar conformados por 2 personas como mínimo y  4 como máximo.  Los miembros de cada equipo podrán realizar diferentes tareas inherentes al desarrollo, por ejemplo: diseño, análisis, investigación, acompañamiento... En cada reto habrá un máximo de 3 equipos.</p>
			<p>Las personas participantes no podrán competir con una aplicación hecha fuera del día del hackathon.</p>
			<p>Los miembros del equipo tendrán que designar una persona líder, siendo este el  responsable de todas las comunicaciones desde y para el equipo.</p>
			<p>En la presentación  del proyecto, los equipos tendrán 5 minutos para contar (la presentación será puntuada) al público sobre el trabajo realizado. El jurado tiene que ver un prototipo funcional.</p>
			<p>Los organizadores podrán realizar cambios y modificaciones a las reglas de este evento hasta antes  dia del evento (día del evento: 28 de septiembre de 2013). Será responsabilidad de los participantes mantenerse informados a través de la web oficial www.apps4health.es</p>
			<h4>Criterio de adjudicación</h4>
			<p>Cada solución será evaluado por el jurado en base a los siguientes criterios:
			</p>
			<ul>
				<li>Originalidad: Cómo de original es esta solución en comparación con otros productos y plataformas que ya están disponibles. La presentación debe proporcionar un enfoque único para resolver el problema.</li>
				<li>Utilidad: ¿Permite la aplicación acceder a la información de una forma útil y relevante?
				</li>
				<li>Seguridad y Privacidad del usuario/a: En su caso, todos los medios necesarios para garantizar que los datos de usuario es seguro y se mantiene como privado.
				</li>
				<li>Escalabilidad: ¿Cómo podría fácilmente la aplicación escalar a otros países y en el mundo?
				</li>
				<li>Facilidad Administrador: ¿Puede la aplicación ejecutarse por las organizaciones sociales con experiencia técnica mínima?</li>
				<li>Impacto: ¿Cuál es el potencial de la app para generar un impacto real inmediato y apoyar el proyecto?</li>
				<li>Funciones: funcionalidad de la aplicación de trabajo presentado y el potencial para su presentación para ser completado a través de poner en marcha (se tendrá en cuenta la capacidad técnica demostrada).
				</li>
				<li>Diseño Experiencia / Usuario: ¿Como de intuitivo es el uso de la solución?</li>
				<li>Accesibilidad: ¿Como de accesible es la app en una pantalla?
				</li>
			</ul>
							<p>
					El jurado evaluará cada propuesta sobre la base de los criterios mencionados anteriormente y determinará una App ‘destacada’ por reto, y una App ‘mejor valorada” con mención especial. En el caso de que una posible App ‘destacada’ sea descalificado por cualquier motivo, la siguiente App con puntuación total más alta será elegido como App ‘destacada’ potencial.
				</p>
		</div>
	</div>
</div>
</div>