<div id="seccion-interior" class="premios">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>inicio</a></li>
			  <li class="current"><a href="#" translate>premiosSeccion.breadcrumbs </a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>premiosSeccion.titulo</h1>
		</div>
			<div class="large-12 columns">
				 <div class="contenido">
								
					<div id="premios-seccion">
					
						<div class="row">
							<div class="large-12 columns">
								<p class="destacado" translate>premiosSeccion.texto</p>
								<p class="sub-destacado" translate>premiosSeccion.subtexto</p>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<h4 class="patrocinios" translate>premiosSeccion.h4</h4>
							</div>
						</div>
<!-- Comienza premios -->
		<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Music APIs</h3>
					<h3 class="premio-sub">Spotify</h3>
					<p class="texto-pre" translate >main.spotify</p>
					<img src="/img/spotify-p.png" alt="Spotify">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Music Apis</h3>
					<h3 class="premio-sub">Deezer</h3>
					<p class="texto-pre" translate>main.deezer</p>
					<img src="/img/deezer-p.png" alt="Deezer">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Cloud Computing</h3>
					<h3 class="premio-sub">Amazon WS</h3>
					<p class="texto-pre" translate>main.aws</p>
					<img src="/img/amazon-p.png" alt="Amazon ws">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Videogames</h3>
					<h3 class="premio-sub">Delirium Studios</h3>
					<p class="texto-pre" translate>main.delirum</p>
					<img src="/img/delirium-p.png" alt="Delirium">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Mobile Apps</h3>
					<h3 class="premio-sub">Asoma</h3>
					<p class="texto-pre" translate>main.asoma</p>
					<img src="/img/pa-asoma.png" alt="Asoma">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Open Hardware</h3>
					<h3 class="premio-sub">Cooking Hacks</h3>
					<p class="texto-pre line" translate>main.cooking</p>
					<img src="/img/pa-cooking.png" alt="Asoma">
				</div>
			</div>
		</div>


							<div class="large-4 columns">
							<div class="premio-item">
					<h3 class="premio-titular">Videogames</h3>
					<h3 class="premio-sub">Ludei</h3>
					<p class="texto-pre" translate>premiosSeccion.ludei </p>
					<img src="/img/pa-ludei.png" alt="ludei">
				</div>
						</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Music APIs</h3>
					<h3 class="premio-sub">Goear</h3>
					<p class="texto-pre" translate>premiosSeccion.gogear </p>
					<img src="/img/pa-goear.png" alt="Gogear">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Mobile Apps</h3>
					<h3 class="premio-sub">Mob&Me</h3>
					<p class="texto-pre" translate>premiosSeccion.mobme </p>
					<img src="/img/pa-mobme.png" alt="Mob&Me">
				</div>
			</div>
		</div>

		<div class="row">
		
			<div class="large-4 columns">
				
					<div class="premio-item">
								<h3 class="premio-titular">Music Apis</h3>
								<h3 class="premio-sub">Nvivo</h3>
								<p class="texto-pre" translate>premiosSeccion.nvivo </p>
								<img src="/img/pa-nvivo.png" alt="nvivo">
							</div>
			</div>
	
			<div class="large-4 columns">
				<div class="premio-item">
					<h3 class="premio-titular">Mobile Apps</h3>
					<h3 class="premio-sub">Grupo SCA</h3>
					<p class="texto-pre" translate>premiosSeccion.sca </p>
					<img src="/img/pa-sca.png" alt="Grupo sca">
				</div>
			</div>
				<div class="large-4 columns">
				<div class="premio-item-comodin">
					
				</div>
			</div>
			
			
			</div>
<!-- Fin de premios -->
						</div>

					</div>

			</div>
	</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>