<div><div id="proyecto-seccion" class="faq">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="/">Inicio</a></li>
	  <li class="current"><a href="#">Aviso legal y privacidad</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Aviso legal y privacidad de datos</h1>
			<h3 class="subheader">Condiciones generales de uso y política de privacidad</h3>
			
<p>Por favor, lee atentamente estas condiciones de uso antes de utilizar este sitio Web. La utilización de este sitio Web supone que el usuario reconoce implícitamente que acepta las condiciones. Si no estás de acuerdo con las mismas o tienes alguna duda te rogamos que no te registres ni utilices este sitio Web.</p>
			<p class="pregunta"><strong>1. QUIÉNES SOMOS </strong></p>
			<p class="respuesta">Fundación Anesvad (en adelante Anesvad) es una organización no gubernamental para el desarrollo (ONGD), sin fines lucrativos, de ámbito nacional y con domicilio social en Bilbao, c/Henao 29. Inscrita con el número 48/130 en el Archivo Registro del Ministerio de Trabajo y Asuntos Sociales, que ejerce su Protectorado, y clasificada por el mismo de Beneficencia Particular de Carácter Asistencial" (O. M. de 18 de noviembre de 1992, B.O.E. 11 de diciembre de 1992) y con C.I.F. número: G-48308795.

			</p>
			<p class="pregunta"><strong>2. QUÉ ES LA WEB SITE APPS4HEALTH</strong></p>
			<p class="respuesta">El sitio www.apps4health.es en el cual te encuentras es el espacio interactivo creado por Anesvad para ofrecer mayor información sobre el evento Apps4Health.

			</p>

			<p class="pregunta"><strong>3. PROPIEDAD DEL WEB Y RESTRICCIONES DE USO</strong></p>
			<p class="respuesta">Los contenidos de esta Web están sujetos a una licencia Creative Commons 3.0 Unported. Se permite su reproducción y difusión sin fines comerciales, siempre y cuando se cite la fuente. Cualquier alteración, transformación o derivación de esta obra sólo puede distribuirse bajo una licencia idéntica a <a href="http://creativecommons.org/licenses/by/3.0/legalcode">ésta.</a>
			</p>
				<p class="pregunta"><strong>4. DURACIÓN</strong></p>
			<p class="respuesta">Las presentes condiciones de uso regirán en tanto en cuanto se mantengan inalterables en el Web site, reservándose Anesvad el derecho a su alteración, modificación o supresión en cualquier momento, debiendo estar actualizados esos cambios en la propia página Web.
			</p>
		<p class="pregunta"><strong>5- POLÍTICA DE PROTECCIÓN DE DATOS</strong></p>
			<p class="respuesta">Anesvad asume las obligaciones legales en materia de protección de datos de carácter personal recogidas en la Ley Orgánica 15/1999, de protección de datos de carácter personal y Real Decreto 1720/2007, por el que se aprueba el Reglamento de desarrollo de dicha ley.
			</p>
			<p class="repuesta">Anesvad adopta los niveles de seguridad de protección de datos personales exigidos en la legislación vigente, instalando al efecto las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y demás riesgos posibles.</p>
			<p class="repuesta">Sólo tienen acceso a datos personales aquellos miembros de Anesvad que necesitan usarlos para realizar las tareas que tienen asignadas como, por ejemplo, el área de atención al público o el departamento de recursos humanos. Se informa igualmente que se utiliza dentro de los diferentes mecanismos de seguridad la fórmula de contraseña, esto es una clave que sólo conocen el usuario y Anesvad.</p>
			<p class="repuesta">Los ficheros de datos personales de los cuales es responsable Anesvad, están debidamente registrados en la Agencia Española de Protección de Datos.</p>

	<p class="pregunta"><strong>6- ACEPTACIÓN DE LAS PRESENTES CONDICIONES</strong></p>
			<p class="respuesta">Al utilizar este Web, asumimos que el usuario ha leído este documento cuidadosamente y que ha entendido y seguido sus consejos. En caso de que el usuario no esté de acuerdo con esta política de protección de datos o con los consejos que a través de la misma se dan, por favor no utilices nuestros Web. Nos reservamos el derecho a modificar la presente condición de uso cuando consideremos que es necesario. La continuidad por el usuario en el uso de este y de otras Web de Anesvad después de haber introducido dichos cambios implicará la total aceptación de los mismos.
			</p>
		</div>
	</div>
</div>
</div>
