<div id="seccion-interior" class="que-es">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">¿Qué es Bime Hack a Day?</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">¿Qué es Bime Hack a Day?</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<h3>Preguntas frecuentes</h3>
					<p>Participarán durante dos días en diferentes actividades abiertas como concursos, charlas y talleres y un hackx24 (hackaton de 24h), todo ello relacionado con la industria musical. Los asistentes poseen la oportunidad única de testear las últimas novedades del mercado así como contactar profesionalmente con grandes empresas, mostrar sus trabajos a públicos especializados y generar <strong>comunidad</strong>, Una intensa jornada de 36h donde se genera el futuro de la música, pero sobretodo donde se aprende y se comparte.
					</p>
				</div>
			</div>
		</div>
</div>