<div id="seccion-interior" class="que-es">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/" translate>Inicio</a></li>
			  <li class="current"><a href="#" translate>que_esSeccion.breadcrumbs</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page" translate>que_esSeccion.titulo</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<p translate>que_esSeccion.p1</p>
					<p translate>que_esSeccion.p2</p>
					<p translate>que_esSeccion.p3</p>
					<p translate>que_esSeccion.p4</p>
					<p translate>que_esSeccion.p5</p>
					<p translate>que_esSeccion.p6</p>
					<img src="/img/t1.png" alt="Bime">
				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>


