<div id="seccion-interior" class="que-es">
	<div class="row">
		<div class="large-12 columns bread">
			<ul class="breadcrumbs">
			  <li><a href="/">Inicio</a></li>
			  <li class="current"><a href="#">¿Qué es Bime Hack a Day?</a></li>
			</ul>	
		</div>
		<div class="large-12 columns">
			<h1 class="page">¿Qué es Bime Hack a Day?</h1>
		</div>
			<div class="large-12 columns">
				<div class="contenido">
					<img src="/img/t1.png" alt="Bime">
					<p>¿Te imaginas juntar a las empresas más innovadoras y a los mejores desarrolladores en un mismo espacio?</p>
					<p>¡Ahí faltas tu! Si eres amante de la música y las nuevas tecnologías reserva esta fecha!!!
					</p>
					<p>20 y 21 de Noviembre</p>
					<p>Música, industria, tendencias y gran público confluyen en <strong>Bizkaia International Music Experience(BIME)</strong>. Durante cinco días, las voces más influyentes del panorama musical se encuentran en un entorno incomparable para compartir experiencias, crear nuevas alianzas y acercarse de primera mano a las últimas tendencias de un negocio que busca nuevos modelos para este milenio. </p>

					<p><strong>BIME Hack Day</strong> es el gran encuentro-unconference del estado. Especialmente creado para fomentar la creatividad y la invención, reúne a  amantes y profesionales  de la Música y la Tecnología, makers y hackers, que participan durante dos días en  diferentes actividades abiertas como  concursos, charlas, talleres y un Hackx24 (hackaton de 24h), todo ello relacionado con la industria musical. </p>

					<p>Los asistentes poseen  la oportunidad única de testear las últimas novedades del mercado así como contactar profesionalmente con grandes empresas, mostrar sus trabajos a públicos especializados y generar comunidad, así como ganar grandes premios. Una intensa jornada de 36h donde se genera el futuro de la música, pero sobretodo donde se aprende  y se comparte.</p>

				</div>
			</div>
		</div>
</div>
<div footer-inscribir></div>
<div footer-partner></div>


