<div><div id="proyecto-seccion">
<div class="row">
	<div class="large-12 columns bread">
	<ul class="breadcrumbs">
	  <li><a href="	/">Inicio</a></li>
	  <li class="unavailable"><a href="#">Proyectos</a></li>
	  <li class="current"><a href="#">Tailandia</a></li>
	</ul>	
	</div>
		<div class="large-12 columns contenido">
			<h1>Tailandia</h1>
			<h3 class="subheader">“Contra la trata de seres humanos en el sudeste asiático”.
</h3>
			<img src="/img/tailandia-seccion.jpg" alt="Tailandia">
			<p><strong>Temática:</strong> Trata de seres humanos

			</p>
			<p><strong>Situación:</strong> Las diferencias económicas entre los países del sudeste asiático unido a la pobreza estructural caracterizada por la falta de recursos, educación y alternativas de trabajo empuja, a gran parte de la población a salir de sus comunidades y emigrar a países que son económicamente más estables en busca de mejores oportunidades.
			</p>
			<p>En muchas de las sociedades del Sudeste Asiático el peso económico de las familias recae en las mujeres. Este fenómeno obliga a miles de mujeres a buscar mejores oportunidades.</p>
			<p>Desafortunadamente,  gran cantidad de personas terminan desarrollando trabajos forzosos o siendo víctimas de redes organizadas dedicadas a la trata de personas.</p>
			<p><strong>Objetivo:</strong> Construir un entorno de protección para las víctimas de trata así como para los
			colectivos altamente vulnerables en la frontera entre Camboya y Tailandia.
			</p>
			<p>Un entorno de protección supone un conjunto de elementos interconectados que previenen que estas personas afronten situaciones de violencia, abuso y explotación; crucial para su supervivencia, su salud y su bienestar.</p>
			<p><strong>Actividad:</strong> Formamos a los distintos agentes gubernamentales a ambos lados de la frontera  para crear  un sistema de protección que facilite el acceso a servicios de atención sanitaria a las víctimas de trata.
			</p>
			<p>Así mismo les involucramos en acciones que garanticen el acceso a servicios adaptados de prevención a colectivos altamente vulnerables a la trata de personas.</p>

			<p class="ul-pre"><strong>Benificiarios:</strong></p>
				<ul class="disc">
					<li>A niños, niñas y mujeres reconocidos oficialmente como víctimas de trata.
					</li>
					<li>A las personas en situación de vulnerabilidad ante el fenómeno de la trata.</li>
				
				</ul>
				<div class="app-texto">
					<h4 class="app">Posible app</h4>
					<div class="a-texto">
					<p>Hay una falta de información disponible sobre las comunidades de inmigrantes camboyanos
que trabajan en Tailandia (cómo llegaron allí, donde se están instalando, el tipo de empleo, los 
servicios a los que acceden, los problemas que enfrentan, etc) y esto plantea un desafío en la 
prestación de servicios adecuados .</p>
					<p>posible solución: Nos gustaría explorar la creación de un mapa de código abierto que captura
las características geográficas, incluidas las rutas migrantes, donde se están instalando, así 
como las características sociales de su entorno.</p>
<p>Pensamos en una app que permita  a estas personas poder aportar información, por ejemplo, 
para la presentación de informes de incidencia (de abusos en el trabajo, el acoso de las
autoridades locales, etc) y para servir como una herramienta de protección en caso de
emergencia (números programados o de línea directo a las ONG los proveedores de servicios, 
la capacidad de traducción de idiomas para los mensajes de texto, alertas de noticias para 
informar de su derechos etc...).</p>
					</div>
				</div>	
		</div>
	</div>
</div>
<div formulario-inscripcion></div>
<div paginas-footer></div>
</div>
