/* Animaciones */

.view-enter, .view-leave, .slide-enter, .slide-leave, .wave-enter, .wave-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}

#ng-view {
  position:relative;
/*  min-height:700px;*/
}

.fade-hide, .fade-show{
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

/*
Media*/

@media only screen and (max-width: 768px) {
  
h1.actividades {
    background: none;
}

}
@media only screen and (max-width: 320px) {
  
.btn-info a {
    padding: 9px 15px;
}

}



.top-bar-section ul li > a:hover {
    background: #00A4C7; 
}

#menu-bime {
  background-color: #16BBEC;
  border-top: 8px solid #00A4C7;
}

#header {
  padding-bottom: 18px;
	background-color: #fff;
}

.idiomas {
  text-align: right;
  padding-top: 5px;
  font-size: 17px;
}

.idiomas a {
color: #15BAEB;
font-weight: 500;
}

.idiomas a:hover {
  text-decoration: underline;
}


.top-bar-section ul li > a {
   font-family: "proxima-nova",sans-serif;
   font-size: 19px;
}



h1 {
   font-size: 3em;
}

h2 {
   font-size: 2em;
}

h1.presentacion {
  text-align: center;
  font-size: 2em;

}


#presentacion {
  background: url("/img/bg-bime.png") no-repeat;
  background-color: #F9F9F9;
  background-position: top;


  padding-bottom: 85px;
  padding-top: 37px;
}

#presentacion strong {
  color: #00B8EC;
  text-transform: uppercase;
  font-weight: normal;
}

p.sub-texto {
    color: #8C8C8C;
    font-size: 1.6em;
    margin-bottom: 1em;
    text-align: center;
}

.presentacion-texto {
  background-color: #fff;
  padding: 30px 20px 10px;

}

.presentacion-texto p {
  line-height: 2.2em;
}

p.rigth {
  text-align: right;
  margin: 0;
}

#actividades {
  background: url("/img/bg-actividades.jpg");
  background-size: cover;
}


#actividades h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #A0A0A0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 0;
    font-size: 2em;
}

.actividad-wrapper {
  background-color: #fff;
  margin: 0 35px;
}

#actividades p {
   font-size: 0.9em;
    line-height: 2em;
    padding: 0 43px;
    text-align: center;
}

.btn-info {
    margin: 100px 0 0;
    padding-bottom: 61px;
    text-align: center;
}

.btn-info a {
  padding: 9px 30px;
  color: #fff;
  text-transform: uppercase;
  background-color: #00B9DD;
  font-size: 20px;
}

.btn-info a:hover {
  opacity: 0.7
}

.puestos-inscripcion a:hover {
  border: 4px solid #14B9EB;
}

.puestos {
text-align: center;
color:#fff;
font-size: 2.1em;
font-style: italic;
font-weight: bold;
text-shadow: 2px -1px 3px rgba(0, 0, 0, 1);

margin-top: 81px;

}

.puestos-inscripcion {
  text-align: center;
  margin: 50px 0;
  text-align: center;
}


.puestos-inscripcion a {
  padding: 3px 60px;
  color: #fff;
  text-transform: uppercase;
 border: 4px solid #fff;
  font-size: 25px;
}


#premios {
background-color: #F4F4F4; 
padding-bottom: 55px;
padding-top: 40px;
}

.premio-item {
  background-color: #FFF;
  text-align: center;
   margin: 10px;
}

#premios h3 {
  color: #00B8DE;
  font-weight: bold;
}

h3.premio-titular {
    font-size: 1.5em;
    line-height: 0.4em;
    margin: 0 0 0.3em;
    padding-top: 30px;
    text-transform: uppercase;
}

h3.premio-sub{
font-size: 1.3em;
}

p.texto-pre {
    color: #999999;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 27px;
    margin: 22px 13px;
}

#premios strong, #seccion-interior strong {
  color: #00B8DE;
}

#premios .columns {
    margin: 15px 0;
}


h1.footer {
   color: #fff;
    font-size: 2em;
    text-align: center;
}

h2.patrocinadores {
    color: #BBBBBB;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.3em;

}

.premio-item img {
  margin-bottom: 25px;
}

#patrocinadores {
  border-top: 2px solid #E8E8E8;
  padding-bottom: 60px;
  padding-top: 30px;
}


#footer {
  background-color: #00B8ED;
}

.redes li { 
padding: 0 18px;
display: inline;
}

.redes {

}

#footer {
  text-align: center;
  padding: 19px 0;
}


.header-seccion {
border-top: 4px solid #E5E5E5;
text-align: center;
margin: 0 50px;
position: relative;
top: 29px;

}


h1.actividades {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
    margin-top: 115px;
    text-align: center;
    text-transform: uppercase;
    background: url("/img/linea.png") no-repeat scroll 15% 53%, url("/img/linea.png") no-repeat scroll 84% 49% rgba(0, 0, 0, 0);
}


h1.seccion {
    background-color: #F4F4F4;
    display: inline-block;
    font-size: 2em;
    padding: 0 26px;
    position: relative;
    text-align: center;
    top: -33px;
    color: #BBBBBB;
}

h1.page {
     font-size: 2.3em;
}

h1.sub-footer {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    margin: 1.3em 0;

}

#seccion-interior {
   background: url("/img/bg-interior.png") no-repeat scroll top center #F4F4F4;
    min-height: 600px;
    padding-bottom: 70px;
}

.contenido {
  background-color: #fff;
  padding: 25px;
}

.bread {
  padding-top: 10px;
}

#sub-inscripcion {
    background: url("/img/bg-sub.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    padding-bottom: 60px;
}

.inscripcion-wrapper {
  background-color: #fff;
  padding: 25px 35px 30px 25px;
}


.btn-ins {
  text-align: right;
}


.btn-ins a {
    background-color: #00B9DD;
    color: #FFFFFF;
    font-size: 20px;
    padding: 9px 60px;
    text-transform: uppercase;
}

.btn-ins a:hover
 {
   opacity:0.8;
}

h3.sub {
  color: #858585;
}

#sub-inscripcion p {
line-height: 0.7em;
padding-left: 5px;
}


.pro {
  color: #7DA028;
}

.live {
 color: #C12C25;
 margin-top: 60px;
}

.market {
  color: #C37801;
  margin-top: 60px;
}

.city {
  color: #63A896;
  margin-top: 60px;
}

.contenido img {
  margin-bottom: 20px;
}


.destacado {
   font-size: 2.6em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
}


.solo {
  height: 238px;
}

.solo img {
  padding-top: 18px;
}


#header {
  text-align: center;
}
#header img {
  max-width: 110%;
}

.sub-destacado {
     font-size: 1.5em;
    line-height: 1.1em;
    text-align: center;
}

.pro-w {
  background: url("/img/pro.jpg") no-repeat;
  background-color: #000;
  min-height: 260px;
  background-size: cover;
  margin: 20px 0;
}

.live-w {
  background: url("/img/live.jpg") no-repeat;
  background-color: #000;
  min-height: 260px;
  background-size: cover;
  margin: 20px 0;
}



.market-w {
  background: url("/img/market.jpg") no-repeat;
  background-color: #000;
  min-height: 260px;
  background-size: cover;
  margin: 20px 0;
}

.city-w {
  background: url("/img/city.jpg") no-repeat;
  background-color: #000;
  min-height: 260px;
  background-size: cover;
  margin: 20px 0;
}

.texto-bime {
  color: #fff;
}

.texto-bime-wrapper {
    background-color: #000000;
  font-size: 0.831em;
    min-height: 260px;
    opacity: 0.7;
    padding: 15px;

}

#patrocinadores {
  text-align: center;
}

#patrocinadores h4 {
  color: #bbbbbb;
}

#patrocinadores img {
  margin: 10px 0px;
}

.over {
      padding-left: 0.2em;
    padding-right: 0.2em;
}

#presentacion a:hover, .presentacion-texto a:hover, #patrocinadores a:hover {
  opacity: 0.6
}

#footer a:hover {
  opacity: 0.9
}



h4.patrocinios {
   color: #BBBBBB;
   text-align: center;
}

#premios-seccion {
    background-color: #fff;
    padding-bottom: 55px;
    padding-top: 40px;
}
#premios-seccion .premio-item {
  border: 1px solid #00C6FF;
}

.comunidad .contenido {
  min-height: 725px;
}

#conferencias-seccion {
  padding: 15px;
}
.conference-item {
  margin: 30px 0px;
  padding-left: 10px;
}


.conferencia-item {
background-color: #fff;
margin: 10px 0;
}

.conferencia-title {
   font-size: 1.5em;
  font-weight: bold;
    margin-bottom: 4px;
    margin-top: 27px;
}

p.conferencia-bio {
  font-size: 0.8em;
}

.img-bio img{
  margin-bottom: 30px;
}

.c-bio {
 font-size: 0.88em; 
}

.conferencia-hora {
   margin-right: 23px;
    position: relative;
   
    top: 17px;
}

span.dia {
  margin-left: 3px;
  margin-right: 4px;
  text-transform: uppercase;
}

span.hora {
font-weight: 300;
}

.hack24 .btn-info {
  margin-top: 52px;

}

.hack24 strong {
  color: #00B8EC;
}

.horarios h5 {
  margin-bottom: 1.5em;
  color: #00A4C7;
}

.conferecia-destacado {

}

.horarios span {
  color: #bbbbbb;
  font-weight: 300;
}

.segundo {
  margin: 20px 0px;
      background-color: #FFFFFF;
    padding: 25px;
}
ul#listado {
   margin-left: 30px !important;
}


.gastos{
  color: #898989;
  font-size: 0.6em;
  position: relative;
  top: -3px;
}



